<h3><i class="icon-home"></i> endereço para a entrega</h3>

<div class="row">
  <div class="span4"><input type="text" placeholder="Endereço" name="address[address]" myrequired /></div>
  <div class="span6"><input type="text" placeholder="Número" name="address[number]" /></div>
</div>

<div class="row">
  <div class="span4"><input type="text" placeholder="Cidade" name="address[city]" myrequired/></div>
  <div class="span6"><%= select_tag("address[state]", options_for_select(Address::STATE), prompt: "Estado", placeholder: "Estado", myrequired: "")%></div>
</div>

<div class="row">
  <div class="span4"><input type="text" placeholder="CEP" name="address[zip_code]" /></div>
  <div class="span4 cpf-cnpj">

  	<div class="btn-group btn-group-xs" role="group">
      <button type="button" class="btn btn-default cpf current">CPF</button>
      <button type="button" class="btn btn-default cnpj">CNPJ</button>
    </div>

    <input type="text" placeholder="CPF" name="cpf_cnpj" myrequired/>
  </div>
</div>

<div class="row">
  <div class="span4"><input type="text" placeholder="Telefone celular" name="telephone" class="phone-formatter" <%= "myrequired" if payment_method == :bank_slip%> /></div>
</div>