<div id="shipment-selection">
  <h3> <i class="icon-truck"></i> Cálculo de frete </h3>
  <span> Calculo realizado para el CPF ingresado previamente: <b>171.037.078-55</b> </span>

  <div class="row" id="shipment-types">
    <div class="span6">
      <label class="radio">
        <input type="radio" name="shipement-type" value="modico"/> Módico
        <span class="delivery-time">(Plazo de entrega: 5 dias úteis)</span>
      </label>
      <br/>
      <label class="radio">
        <input type="radio" name="shipement-type" value="pac" checked/> PAC <br/><span class="delivery-time">(Plazo de entrega: 3 dias úteis)</span>
      </label>
      <br/>
      <label class="radio">
        <input type="radio" name="shipement-type" value="sedek"/> Sedex <br/><span class="delivery-time">(Plazo de entrega: 1 dias úteis)</span>
      </label>
    </div>
    <div class="span4">
      <label class="label" style="font-size: 18px">
        Costo: R$ 5<br/>
      </label>
      <br/>
      <label class="label" style="font-size: 18px">
        Costo: R$ 11<br/>
      </label>
      <br/>
      <label class="label" style="font-size: 18px">
        Costo: R$ 25<br/>
      </label>
    </div>
  </div>
</div>
