<% page_data :title => 'Carrinho de compras', :type => 'other' %>

<div id="cart-container">
  <div id="cart-details-container" class="related">
    <div class="container">
      <%= render :partial => "cart/cart" %>
    </div>
  </div>
</div>
