<% if current_user.nil? %>
  <%- error_messages = '' %>
  <%- @user.errors.full_messages.each do |message| %>
    <%- error_messages << "<li>#{message}</li>" %>
  <%- end %>
  $('.errors').html("<%= error_messages.html_safe %>")
<% else %>
  $('#sign_up_or_sign_in').html("<%=escape_javascript(render '/checkout/second_step')%>")
<% end %>