<div class='second_step checkout_step'>
  <h1>Primeiro passo: registro</h1>
  <div class='user_info'>
    <h4>
      <%= "Olá #{current_user.name}," %>
      <%= link_to "(#{t('it_is_not_me')})", destroy_user_session_path, :method => :delete, :remote => true %>
    </h4>
  </div>
</div>
<script type="text/javascript">var USER_LOGINED = true</script>

