<div class="show_address">
  <p>
    <h6><span id="identifier_info"></span></h6>
    <span id="address_info"></span> <br>
    <span id="region_info"></span> <br>
    <span id="zipcode_info"></span>
  </p>
</div>