<%= stylesheet_link_tag "checkout", :media => "all" %>
<div class='first_step checkout_step'>
  <div id='sign_up_or_sign_in'>
    <div class='errors'></div>
    <div class='sign_up_or_sign_in_wrapper'>
      <%= render '/checkout/login_form' %>
      <%= render '/checkout/sign_up_form' %>
    </div>
  </div>
</div>