<div class='third_step checkout_step'>
  <h5>A entrega será realizada no endereço:</h5>
  <%= render '/checkout/show_address' %>
  <div class='message'>
    <h5>Finalize a sua compra clicando no botão ao lado, você será direcionado para o ambiente seguro do PayPal, onde irá realizar o pagamento.</h5>
  </div>
  <div class='paypal_button'>
  <%= render '/checkout/paypal_button' %>
  </div>
  <script>
    getChosenAddress();
  </script>
</div>