<div class='container'>
  <h1>Pedido realizado com sucesso</h1>
  <p>O número do seu pedido é <b><%=session[:order_id]%></b>.</p>
  <p>Você receberá os detalhes do seu pedido no email: <b><%= current_user.email %></b></p>
  <p>Em caso de dúvidas, entre em contato conosco no e-mail: <%= mail_to 'contato@hedra.com.br' %></p>
  <p>Obrigado por compra na <b>Hedra</b>. Desejamos uma boa leitura! :)</p>
</div>