body {
  margin: 100px auto 0;
  padding: 0;
  width: 960px;
  background-color: #f0f0f0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 16px;
  color: #333;
}

a {
  color: #03c
}

a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}

address {
  margin: 100px 0 0 0;
  text-align: center;
  font-style: normal;
}

address p {
  margin: 0;
  padding: 0;
}