<div class="container">

  <h5><i class="icon-credit-card"></i> Credit card</h5>

  <div class="card-wrapper"></div>

  <div class="alert alert-error" style="display: none;"><ul></ul></div>

  <%= form_tag({action: :pay}, {id: "payment-form"} ) do %>
	    <input autocomplete="off" data-iugu="number" placeholder="Número do Cartão" type="text" value="" />
	    <input autocomplete="off" data-iugu="full_name" placeholder="Titular do Cartão" type="text" value="" />
	    <input autocomplete="off" data-iugu="expiration" placeholder="MM/AAAA" type="text" value="" />
	    <input autocomplete="off" data-iugu="verification_value" placeholder="CVV" type="text" value="" />
	    <input type="hidden" name="token" id="token"/>
	    <input type="submit" class="btn" value="Pagar" />
	<% end %>

	<div class="modal hide fade" id="payment-modal" aria-hidden="true" style="display: none;">
	  <div class="modal-body">
	    <p>watting...</p>
	  </div>
	</div>

</div>


<script type="text/javascript">

  Iugu.setAccountID("<%=APP_CONFIG['iugu_account_id']%>");
  
  <% if Rails.env.production? %>
    Iugu.setTestMode(false);
  <% else %>
    Iugu.setTestMode(true);
  <% end %>

  $('#payment-form').card({
    container: $('.card-wrapper'),
    numberInput: 'input[data-iugu="number"]', 
    expiryInput: 'input[data-iugu="expiration"]',
    cvcInput: 'input[data-iugu="verification_value"]',
    nameInput: 'input[data-iugu="full_name"]'
  })

</script>

