<div class="span3">
  <article class="new-release-list-item">
    <div class="cover"><%= link_to(image_tag(new_release.cover_url.to_s), new_release) %></div>
    <h3 class="title"><%= link_to new_release.title, new_release %></h3>
    <h4 class="authors"><%= authors(new_release) %></h4>
  </article>
</div>
