<% title 'Sobre a Hedra' %>
<%= yield :h1 %>
<p>Como editores da Hedra à frente de um projeto de mais de dez anos, queremos
que os nossos leitores nos conheçam pelo cuidado que temos com a edição de
livros de literatura e filosofia, e saibam que ultimamente o que mais desejamos é
fazer livros baratos, para chegar às mãos de um público cada vez maior.</p>

<p>Por isso nos mobilizamos integralmente para fazer a Coleção de
Bolso_Hedra, que em três anos já conta com cerca de setenta títulos, na
qual incluímos além de obras clássicas, também aquelas que gostaríamos que
fossem reconhecidas. Nela publicamos <i>Iracema</i>, de José de Alencar e também
sua obra mais desconhecida, <i>Cartas a favor da escravidão</i>, ou o <i>Retrato de
Dorian Gray</i>, de Wilde, ao lado do pouquíssimo lembrado romance homoerótico
<i>Teleny ou o reverso da medalha</i>, atribuído ao autor. </p>

<p>Entre os principais lançamentos destacam-se a obra do padre seiscentista,
Antonio Vieira, em três volumes e mais de 15 mil exemplares vendidos, e os
cordéis de Patativa do Assaré, que venderam em torno de 80 mil exemplares, e
fazem parte da Coleção Biblioteca de Cordel, com mais de vinte autores populares. </p>

<p>Publicamos também infanto-juvenis, como <i>Lampião</i>, de Klévisson Viana,
hai-kais de Ademir Barbosa em <i>O sapo voador</i>, e <i>Saga animal</i>, de Índigo,
entre muitos outros que circulam pelas escolas de todo o país.</p>

<p style="text-align: right;"><strong>Jorge Sallum, Iuri Pereira e Bruno Costa - editores</strong></p>
