<% page_data :title => 'Sobre a Hedra', :type => 'company', :image => "#{request.protocol}#{request.host_with_port}/assets/hedra-logo.png", :description => "Fundada em 1999, a Hedra publica desde então clássicos e infanto-juvenis e possui um catálogo de cerca de 350 obras. Destacamos nossa coleção de bolso a preços acessíveis." %>
<div class="container">
  <%= yield :h1 %>
  <div id="about">
    <p>Caro leitor,</p>

    <p>Trabalhamos de portas abertas desde 1999 e ao 
    longo desses anos publicamos mais de 350 títulos. 
    Mantivemos, de lá para cá, o desejo de editar livros de 
    qualidade, tanto para o público que frequenta livrarias a 
    procura de boa literatura clássica e ensaios, quanto para 
    os universitários 
    e alunos escolares, sempre a preços acessíveis. 
    São pilares da Hedra a <em><a href="http://www.hedra.com.br/categoria/colecao-de-bolso">Coleção de 
    Bolso</a></em> &mdash que conta com mais de 140 títulos, dentre clássicos 
    e livros que merecem ser clássicos &mdash; e nossos livros infantis, 
    amplamente reconhecidos por escolas e pelos melhores programas 
    governamentais de aquisição de livros para bibliotecas. 
    Recentemente passamos a nos dedicar com empenho a um novo selo, 
    Hedra Educação, com o qual pretendemos chegar a 
    todas as regiões do país, com livros escolares, paradidáticos 
    e afins.</p><p>É pena não caber aqui uma lista maior de assuntos 
    que nos ocupam, como literatura de cordel; anarquismo; 
    cultura pop; crítica literária; arquitetura. Mas você pode 
    consultar nosso <em><a href="https://hedraonline.posterous.com/">
    blog</a></em> ou 
    nos seguir no facebook para nos acompanhar em temas dos mais variados.
    </p>
    <p>No mais, aproveitamos esta carta para dizer que, caso tenha interesse em trabalhar conosco, <%= link_to "escreva para nós", contact_path %>. São raras as vagas e por vezes temos oportunidades para estagiários. Nada prometemos.</p>
    <p>Para os escritores que procuram uma casa editorial, pedimos gentilmente que se interem da natureza do nosso catálogo e analisem por si se o que desejam publicar guarda alguma afinidade com nosso catálogo. Publicamos pouquíssima poesia e ficção contemporânea. Temos particular interesse por livros infantis e juvenis de jovens autores. Não recebemos também material impresso, e, portanto, não nos responsabilizamos por devolver originais. Por fim, pedimos gentilmente que não interpretem nosso silêncio como uma deselegante desaprovação. Mas como os braços de nossos editores não são muitos e deles temos que fazer tripas e corações para fazer os livros, muitas vezes não temos como responder a todos.</p>
    <p>Dos editores</p>
  </div>
</div>
