<% page_data :type => 'website', :image => "#{request.protocol}#{request.host_with_port}/assets/hedra-logo.png", :description => "Fundada em 1999, a Hedra publica desde então clássicos e infanto-juvenis e possui um catálogo de cerca de 350 obras. Destacamos nossa coleção de bolso a preços acessíveis." %>

<div id="features">
  <div id="carousel-container" class="container">
    <span class="gradient"></span>
    <div id="carousel-target">
      <%= render :partial => 'pages/feature', :collection => @features %>
    </div>
    <a class="prev" id="carousel-prev" href="#">prev</a>
    <a class="next" id="carousel-next" href="#">next</a>
    <div class="pagination" id="carousel-pagination"></div>
  </div>
</div>

<div id="new-releases">
  <div class="container">
    <h2 class="heading">Lançamentos</h2>
    <div class="latest-list row">
      <%= render :partial => 'pages/new_release', :collection => @new_releases %>
    </div>
  </div>
</div>

<div id="recommendations">
  <div class="container">
    <h2 class="heading">Indicação nossa</h2>
    <%= render :partial => 'pages/book', :collection => @recommendations %>
  </div>
</div>

<script>

  $(document).ready(function() {
    $("#carousel-target").carouFredSel({
      items           : {
        visible       : 2
      },
      direction       : "left",
      circular        : true,
      infinite        : false,
      auto            : false,
      prev            : {
        button        : "#carousel-prev",
        key           : "left"
      },
      next            : {
        button        : "#carousel-next",
        key           : "right"
      },
      pagination      : "#carousel-pagination",
      scroll          : {
        items         : 1,
        duration      : 700
      }
    });
  });

</script>
