<h2>Indicação nossa</h2>

<% @featured_books.each do |f| %>
  <article class="book-list-item row">
    <div class="span2">
      <img src="/assets/l-a-volta-do-parafuso.jpg">
    </div>
    <div class="span10">
      <h3><%= link_to f.title, f %></h3>
      <h4><%= f.people.first.name %></h4>
      <div class="book-description">
        <p><%= f.description %></p>
      </div>
    </div>
  </article>
<% end %>
