<h2>Indicação nossa</h2>

<% @featured_books.each do |f| %>
  <article class="book-list-item row">
    <div class="book-list-cover span2">
      <%= link_to(image_tag(f.cover_url.to_s), f) %>
    </div>
    <div class="book-list-info span10">
      <h3><%= link_to f.title, f %></h3>
      <h4><%= book_authors(f) %></h4>
      <div class="book-description">
        <p><%= f.description %></p>
      </div>
    </div>
  </article>
<% end %>
