<h2>Indicação nossa</h2>

<% @featured_books.each do |book| %>
  <article class="book-list-item row">
    <div class="book-list-cover span2">
      <%= link_to(image_tag(book.cover_url.to_s), book) %>
    </div>
    <div class="book-list-info span10">
      <h3><%= link_to book.title, book %></h3>
      <h4><%= book_team(book)["Texto"] %></h4>
      <div class="book-description">
        <p><%= book.description.html_safe %></p>
      </div>
    </div>
  </article>
<% end %>
