<div id="features">
  <div class="container">
    <%= render :partial => 'pages/feature', :collection => @features %>
  </div>
</div>

<div id="new-releases">
  <div class="container">
    <h2>Lançamentos</h2>
    <div class="latest-list row">
      <%= render :partial => 'pages/new_release', :collection => @new_releases %>
    </div>
  </div>
</div>

<div id="recommendations">
  <div class="container">
    <h2>Indicação nossa</h2>
    <%= render :partial => 'pages/recommendation', :collection => @recommendations %>
  </div>
</div>
