<article class="row">
  <div class="span2">
    <img src="/assets/l-a-volta-do-parafuso.jpg">
  </div>
  <div class="span10">
    <h3>A volta do parafuso</h3>
    <h4>Henry James</h4>
    <div class="book-description">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
  </div>
</article>
<article class="row">
  <div class="span2">
    <img src="/assets/l-a-volta-do-parafuso.jpg">
  </div>
  <div class="span10">
    <h3>A volta do parafuso</h3>
    <h4>Henry James</h4>
    <div class="book-description">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
  </div>
</article>