<h2>Indicação nossa</h2>

<% @featured_books.each do |f| %>
  <article class="row">
    <div class="book-list-item clearfix">
      <div class="span2">
        <img src="http://placehold.it/170x250">
      </div>
      <div class="span10">
        <h3><%= link_to f.title, f %></h3>
        <h4><%= f.people.first.name %></h4>
        <div class="book-description">
          <p><%= f.description %></p>
        </div>
      </div>
    </div>
  </article>
<% end %>
