<% page_data :type => 'website', :image => "#{request.protocol}#{request.host_with_port}/assets/hedra-logo.png", :description => "Fundada em 1999, a Hedra publica desde então clássicos e infanto-juvenis e possui um catálogo de cerca de 350 obras. Destacamos nossa coleção de bolso a preços acessíveis." %>

<% unless current_publisher.home_page_message.blank? %>
  <div class="container">
    <div class="alert alert-info">
      <strong><%= current_publisher.home_page_message%></strong>
    </div>
  </div>
<% end %>


<div id="features">
  <div class="container">
    <div id="carousel-container">
      <span class="gradient"></span>
      <div id="carousel-target">
        <%= render :partial => 'pages/feature', :collection => @features %>
      </div>
      <a class="prev" id="carousel-prev" href="#">prev</a>
      <a class="next" id="carousel-next" href="#">next</a>
    </div>
  </div>
</div>

<% if @new_releases.size > 0 %>
  <div id="new-releases" class="related">
    <div class="container">
      <div class="related-list row">
        <%= render :partial => 'pages/related_book', :collection => @new_releases %>
      </div>
    </div>
  </div>
<% end %>
<% if @recommendations.size > 0 %>
  <div id="recommendations">
    <div class="container">
      <%= render :partial => 'pages/book', :collection => @recommendations %>
    </div>
  </div>
<% end %>
