    <div class="container">
      <header>
        <h1>Editora Hedra | Hedra Educação</h1>
      </header>
      <section>
        <h2>Situações do dia a dia e dúvidas das crianças</h2>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-minha-familia.jpg">
          </div>
          <div class="descricao span6">
            <h4>Minha família: amor e carinho, dar e doar</h4>
            <p>A família de Mateus é assim: seus pais são separados, seu pai casou de novo e agora ele tem uma madrasta de quem gosta muito. Seus avós sempre encontram um tempo para passear. E ele acabou de ganhar um priminho! Seus tios adotaram um menino. Com delicadeza, a autora coloca para os jovens leitores as diferentes possibilidades de constituição de uma família. Nenhuma precisa ser igual a outra, desde que haja amor e carinho, a família está presente.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-32-7</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assunto</dt>
              <dd>Relações familiares</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-super-eu.jpg">
          </div>
          <div class="descricao span6">
            <h4>Super-eu: tudo o que você queria saber</h4>
            <p>Alex é um garoto que tem superpoderes, ele é o Super-Eu. Ele transforma o sofá em navio pirata e a bicicleta em carro de corrida. Quando arruma o quarto, tem a companhia de um feroz dragão sugador, que sua mãe insiste em chamar de aspirador. Lisa Bullard, de forma lúdica, mostra que todos nós podemos ser super-heróis.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-28-0</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assuntos</dt>
              <dd>Autoestima, imaginação, brincadeiras infantis</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania, pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-meu-dia.jpg">
          </div>
          <div class="descricao span6">
            <h4>Meu dia: manhã, tarde e noite</h4>
            <p>A organização do dia a dia é importante para o bem-estar da criança. Horário para dormir, para acordar, para entrar e sair da escola. Lisa Bullard trata da organização do cotidiano das crianças mostrando sua importância para o bem-estar infantil.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-31-0</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assuntos</dt>
              <dd>Relações familiares, relações de amizade, organização do dia</dd>
              <dt>Tema transversal</dt>
              <dd>Saúde</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-meu-bairro.jpg">
          </div>
          <div class="descricao span6">
            <h4>Meu bairro: pessoas e lugares</h4>
            <p>Lili quer apresentar o bairro para seu novo vizinho. A mãe de Lili apelidou os lugares em que ela pode andar sozinha, sem a companhia de um adulto, de “Zona do Sozinho”. Mas Lili quer que seu novo amigo conheça mais do bairro. Com sua mãe, então, partem para mostrar tudo o que a região oferece.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-30-3</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assuntos</dt>
              <dd>Relações de amizade, moradia</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-meu-corpo.jpg">
          </div>
          <div class="descricao span6">
            <h4>Meu corpo: da cabeça aos pés</h4>
            <p>Cada pessoa tem o corpo de um jeito, mas temos muito mais em comum do que parece. Todos temos dois olhos, duas orelhas e um lindo sorriso. E isso é o que conseguimos enxergar. Do lado de dentro está o coração, e o cérebro e tantos outros órgãos que fazem nosso corpo funcionar. Neste livro, Lisa Bullard nos apresenta alguns detalhes do corpo humano, como ele funciona e como cuidar melhor dele.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-00-6</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assunto</dt>
              <dd>Corpo humano</dd>
              <dt>Tema transversal</dt>
              <dd>Saúde</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-minha-casa.jpg">
          </div>
          <div class="descricao span6">
            <h4>Minha casa: da parede ao teto</h4>
            <p>Ao ajudar seu pai a construir uma casa para sua cachorrinha, nossa personagem nos apresenta um pouco sobre as casas em que moramos também. Pode ser uma casa térrea, uma casa de dois andares, um apartamento ou até mesmo uma casa sobre rodas. O importante é que a casa seja um lar, onde quem mora sinta-se feliz e cuide de sua moradia, com limpeza diária e carinho.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-29-7</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assunto</dt>
              <dd>Moradia, limpeza doméstica, arquitetura</dd>
              <dt>Temas transversais</dt>
              <dd>Pluralidade cultural, trabalho e consumo, saúde</dd>
            </dl>
          </div>
        </article>
      </section>
      <section>
        <h2>Matemática para crianças</h2>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-veio-do-jardim.jpg">
          </div>
          <div class="descricao span6">
            <h4>Veio do jardim: um livro de contar</h4>
            <p>Ao montar uma salada com legumes, frutas e verduras colhidos no jardim, a autora apresenta os números de 1 a 12 aos pequenos leitores.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Michael Dahl</dd>
              <dt>Ilustração</dt>
              <dd>Todd Ouren</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-35-8</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 6 anos</dd>
              <dt>Assuntos</dt>
              <dd>Matemática, alimentação</dd>
              <dt>Tema transversal</dt>
              <dd>Saúde</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-ovos-com-pernas.jpg">
          </div>
          <div class="descricao span6">
            <h4>Ovos com pernas: contando de dois em dois</h4>
            <p>Ovos começam a ganhar pernas e saem andando pela fazenda. Contando de dois em dois as perninhas, o pequeno leitor é introduzido à tabuada do dois.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Michael Dahl</dd>
              <dt>Ilustração</dt>
              <dd>Todd Ouren</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-36-5</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 6 anos</dd>
              <dt>Assunto</dt>
              <dd>Matemática</dd>
              <dt>Tema transversal</dt>
              <dd>Meio ambiente</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-usando-as-maos.jpg">
          </div>
          <div class="descricao span6">
            <h4>Usando as mãos: contando de cinco em cinco</h4>
            <p>Usando os dedos das mãos, aprende-se a contar de cinco em cinco e ainda a fazer belos desenhos usando as mãos.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Michael Dahl</dd>
              <dt>Ilustração</dt>
              <dd>Todd Ouren</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-33-4</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 6 anos</dd>
              <dt>Assuntos</dt>
              <dd>Matemática, artes</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-pes-na-areia.jpg">
          </div>
          <div class="descricao span6">
            <h4>Pés na areia: contando de dez em dez</h4>
            <p>É verão e hora de colocar os pés na areia. Contando os dedos dos dois pés, o pequeno leitor é convidado a aprender a contar de dez em dez.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Michael Dahl</dd>
              <dt>Ilustração</dt>
              <dd>Zachary Trover</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-34-1</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 6 anos</dd>
              <dt>Assunto</dt>
              <dd>Matemática</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </article>
      </section>
      <section>
        <h2>Problemas da vida real</h2>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-vencendo-o-bullying.jpg">
          </div>
          <div class="descricao span6">
            <h4>Vencendo o bullying</h4>
            <p>Em <em>Vencendo o bullying</em>, você pode entender melhor o que é bullying, se dar conta que já foi vítima, ou até mesmo que já praticou este tipo de ato. Qualquer que seja o caso, o importante é observar como fazer algo a respeito.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Charlotte Guillain</dd>
              <dt>Páginas</dt>
              <dd>48</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-45-7</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino médio</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 12 anos</dd>
              <dt>Assuntos</dt>
              <dd>Bullying, relações de amizade</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, pluralidade cultural, saúde</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-vencendo-o-cyber-bullying.jpg">
          </div>
          <div class="descricao span6">
            <h4>Vencendo o cyber bullying</h4>
            <p>Em <em>Vencendo o cyber bullying</em>, o autor nos coloca um tema cada vez mais presente em nosso dia a dia, o cyber bullying, forma de bullying via mensagens de celular, redes sociais entre outros.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Nick Hunter</dd>
              <dt>Páginas</dt>
              <dd>56</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-46-4</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino médio</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 12 anos</dd>
              <dt>Assuntos</dt>
              <dd>Bullying, relações de amizade</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, pluralidade cultural, saúde</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-vencendo-a-violencia-domestica.jpg">
          </div>
          <div class="descricao span6">
            <h4>Vencendo a violência doméstica</h4>
            <p>Este livro procura responder algumas perguntas como: O que é violência doméstica? Onde posso procurar ajuda? Como posso ajudar uma vítima? De maneira simples e didática, a autora procura ajudar quem tanto precisa de apoio.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Liz Miles</dd>
              <dt>Páginas</dt>
              <dd>48</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-47-1</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino médio</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 12 anos</dd>
              <dt>Assuntos</dt>
              <dd>Violência doméstica, relações familiares, comportamento</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, saúde</dd>
            </dl>
          </div>
        </article>
      </section>
      <section>
        <h2>Indicações de leitura para a sala de aula</h2>
        <h3>A partir dos 6 anos</h3>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-todo-mundo-tem.jpg">
          </div>
          <div class="descricao span6">
            <h4>Todo mundo tem</h4>
            <p>Luzia é uma menina curiosa que começa a perceber que todas as pessoas e todas as coisas têm algo que as acompanha. Todo mundo tem, menos o Sol. Curioso, não? Assim, Luzia descobre a sua sombra: de dia dançam juntas e de noite brincam de assombração.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto e ilustração</dt>
              <dd>Edith Derdyk</dd>
              <dt>Páginas</dt>
              <dd>36</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-44-0</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assuntos</dt>
              <dd>Ciências, sombra</dd>
              <dt>Temas transversais</dt>
              <dd>Meio ambiente</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-pra-la.jpg">
          </div>
          <div class="descricao span6">
            <h4>Pra lá</h4>
            <p>Neste livro, a canção de Luiz Tatit e Dante Ozzetti recebe as ilustrações de Edith Derdyk. De maneira delicada, a artista nos coloca em um mundo sempre indo, pra frente, pra lá.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Luiz Tatit e Dante Ozzetti</dd>
              <dt>Ilustração</dt>
              <dd>Edith Derdyk</dd>
              <dt>Páginas</dt>
              <dd>36</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-42-6</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assunto</dt>
              <dd>Música</dd>
              <dt>Temas transversais</dt>
              <dd>Meio ambiente, pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-o-quadrado.jpg">
          </div>
          <div class="descricao span6">
            <h4>O quadrado</h4>
            <p>Este livro conta a história do quadrado na visão da autora. Um quadrado é um quadrado, todo mundo sabe. Mas, para que ele serve? Quem será que o inventou? O texto delicado de Vanessa Campos Rocha recebe, pela primeira vez, ilustrações da própria autora.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto e ilustração</dt>
              <dd>Vanessa Campos Rocha</dd>
              <dt>Páginas</dt>
              <dd>36</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-49-5</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assunto</dt>
              <dd>Formas geométricas</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-trum-e-o-passaro-musical.jpg">
          </div>
          <div class="descricao span6">
            <h4>Trum e o pássaro musical</h4>
            <p>Elzbieta é uma das mais renomadas autoras francesas de livros infantis. Nesta obra, com o apoio da compositora e pianista Sharon Kanch, a autora nos mostra que a música pode estar em todos os lugares. Só precisamos ouvir.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto e ilustração</dt>
              <dd>Elzbieta</dd>
              <dt>Concepção musical</dt>
              <dd>Sharon Kanch</dd>
              <dt>Páginas</dt>
              <dd>48</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-50-1</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assuntos</dt>
              <dd>Música, artes</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <h3>A partir dos 8 anos</h3>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-o-livro-dos-tutus.jpg">
          </div>
          <div class="descricao span6">
            <h4>O livro dos tutus: os assombrosos, monstruosos, horríveis, cruéis e terríveis bichos-papões do folclore brasileiro</h4>
            <p>Pelo Brasil, todo tipo de bicho-papão aparece nas brincadeiras e nos pesadelos das crianças — bando de bicho chato! No texto de Blandina Franco e nas ilustrações de José Carlos Lollo, esses chatos ganham vida e nos mostram que esse mundo dos assombrosos, monstruosos e terríveis seres do folclore brasileiro, mesmo amedrontador, pode ser divertido.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Blandina Franco</dd>
              <dt>Ilustração</dt>
              <dd>José Carlos Lollo</dd>
              <dt>Páginas</dt>
              <dd>32</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-48-8</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assunto</dt>
              <dd>Folclore brasileiro</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-o-que-e-bom.jpg">
          </div>
          <div class="descricao span6">
            <h4>O que é bom, o que é ruim</h4>
            <p>Este livro fala sobre as escolhas de que estão repletas a vida infantil por meio da resposta formulada por um pai a seu filho. Com exemplos encontrados em situações concretas, este pai vai ilustrando e ensinando a diferenciar atitudes construtivas de atitudes desaconselháveis e equivocadas.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Vladimir Maiakóvski</dd>
              <dt>Ilustração</dt>
              <dd>Gilberto Mariotti</dd>
              <dt>Páginas</dt>
              <dd>48</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-222-3</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assuntos</dt>
              <dd>Ética, mundo do trabalho</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, trabalho e consumo</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-ninguem-e-eu.jpg">
          </div>
          <div class="descricao span6">
            <h4>Ninguém e eu</h4>
            <p>Era uma vez Ninguém e ninguém mais. Ninguém estava sozinho. Ninguém também não tinha com o que brincar e nenhum lugar para ir. Uma maravilhosa história de amor sobre o começo de tudo.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Bart Mertens</dd>
              <dt>Ilustração</dt>
              <dd>Benjamin Leroy</dd>
              <dt>Páginas</dt>
              <dd>32</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-41-9</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I, segundo ciclo</dd>
              <dt>Assunto</dt>
              <dd>Relações de amizade</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania, pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-promessa-e-promessa.jpg">
          </div>
          <div class="descricao span6">
            <h4>Promessa é promessa</h4>
            <p>Bruno, uma pequena marmota, acorda da hibernação depois de um longo inverno. Ao sair de sua toca, encontra uma bela flor, um Dente-de-leão. Os dois passam toda a primavera juntos, com a flor cada dia mais bela. Com a chegada do verão, no entanto, a flor fica um pouco diferente. É quando ela pede que Bruno prometa que vai confiar nela e vai fazer o que ela pediu. Bruno assopra e todas as pequenas partes da flor são levadas pelo vento. Qual será a surpresa que Dente-de-leão reservou para o amigo.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Knister</dd>
              <dt>Ilustração</dt>
              <dd>Eve Tharlet</dd>
              <dt>Páginas</dt>
              <dd>40</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-43-3</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assuntos</dt>
              <dd>Relações de amizade, meio ambiente</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, meio ambiente</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-historia-de-aladin.jpg">
          </div>
          <div class="descricao span6">
            <h4>História de Aladim e a lâmpada maravilhosa</h4>
            <p>Patativa do Assaré reconta em forma de cordel a história de Aladim, retirada das Mil e uma noites. Acompanhe as aventuras de Aladim, perseguido por um perverso feiticeiro, em busca de sua amada com a ajuda da lâmpada mágica que realiza desejos. Um exemplar encontro entre a cultura popular brasileira e as narrativas do antigo Oriente.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Patativa do Assaré</dd>
              <dt>Ilustração</dt>
              <dd>Fernando de Almeida</dd>
              <dt>Páginas</dt>
              <dd>56</dd>
              <dt>ISBN</dt>
              <dd>978-85-87328-128-8</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assuntos</dt>
              <dd>Aventura, feitiçaria, histórias de amor</dd>
              <dt>Temas transversais</dt>
              <dd>Pluralidade cultural, ética e cidadania</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-micromegas.jpg">
          </div>
          <div class="descricao span6">
            <h4>Micromegas</h4>
            <p>Além de enorme, Micromegas era muito inteligente. Ele sabia muitas coisas, e inventava algumas outras. Certo dia, Micromegas resolveu viajar e conhecer outros planetas. E é aí que começa nossa história...</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Voltaire</dd>
              <dt>Ilustração</dt>
              <dd>Mariana Zanetti</dd>
              <dt>Páginas</dt>
              <dd>48</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-129-5</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assuntos</dt>
              <dd>Espaço, Matemática, Ciências, Filosofia</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-historia-da-moda.jpg">
          </div>
          <div class="descricao span6">
            <h4>História da moda para crianças</h4>
            <p>A moda é um tema que cada vez mais tem atraído as crianças e, neste livro, o jovem leitor encontra um pouco de sua história. O que é moda, quando surgiu e um pouco sobre os trajes típicos.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Véronique Antoine-Andersen</dd>
              <dt>Ilustração</dt>
              <dd>Lucile Placin</dd>
              <dt>Páginas</dt>
              <dd>56</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-53-2</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assuntos</dt>
              <dd>Moda, artes</dd>
              <dt>Temas transversais</dt>
              <dd>Pluralidade cultural, trabalho e consumo</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-sai-da-frente-vaca-brava.jpg">
          </div>
          <div class="descricao span6">
            <h4>Sai da frente, vaca brava!</h4>
            <p>Neste livro, Ricardo Lísias coloca uma vaca no meio do caminho para lembrar às crianças não apenas o seu direito de ir e vir, mas também o direito de ir à escola, brincar e, principalmente, lutar pelos seus direitos.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Ricardo Lísias</dd>
              <dt>Ilustração</dt>
              <dd>Newton Foot</dd>
              <dt>Páginas</dt>
              <dd>36</dd>
              <dt>ISBN</dt>
              <dd>978-85-87328-36-6</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental</dd>
              <dt>Assuntos</dt>
              <dd>Direitos Humanos, Direitos da Criança e do Adolescente</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-greve-contra-guerra.jpg">
          </div>
          <div class="descricao span6">
            <h4>Greve contra a guerra</h4>
            <p>Nita começou a chorar e todos queriam entender por quê. Mas descobrir por que a amiga chorava não ajudou muito. A classe toda apoiou a Nita e também se revoltou. Que história era aquela de guerra.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Ricardo Lísias</dd>
              <dt>Ilustração</dt>
              <dd>Newton Foot</dd>
              <dt>Páginas</dt>
              <dd>36</dd>
              <dt>ISBN</dt>
              <dd>978-85-87328-61-8</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assuntos</dt>
              <dd>Direitos Humanos, Direitos da Criança e do Adolescente</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-para-sempre-chegar-bem.jpg">
          </div>
          <div class="descricao span6">
            <h4>Para sempre chegar bem: Educação para o trânsito para crianças</h4>
            <p>A educação para o trânsito é tema que deve ser levado em conta no currículo escolar. O objetivo deste livro é apresentar um tema que pode contribuir para a construção de valores e favorecer o convívio. Em Para sempre chegar bem, a partir de histórias de ficção, o jovem leitor é levado a compreender um pouco mais o mundo dos transportes e do trânsito.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Betina Rugna e Elisabete Jacques Urizzi Garcia</dd>
              <dt>Páginas</dt>
              <dd>40</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-52-5</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assuntos</dt>
              <dd>Trânsito, cidadania</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </article>
        <h3>A partir dos 12 anos</h3>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-a-historia-do-planeta-azul.jpg">
          </div>
          <div class="descricao span6">
            <h4>A história do planeta azul</h4>
            <p>Em um planeta onde só existem crianças, elas só fazem o que querem e quando querem. Até a chegada de um misterioso adulto, que muda a maneira de olhar o lugar em que vivem. Mas será que as crianças acham que mudou para melhor.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Andri Snaer Magnason</dd>
              <dt>Ilustração</dt>
              <dd>Áuslag Jónsdóttir</dd>
              <dt>Páginas</dt>
              <dd>96</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-273-5</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental</dd>
              <dt>Assuntos</dt>
              <dd>Meio ambiente e sustentabilidade, Relações de amizade</dd>
              <dt>Temas transversais</dt>
              <dd>Meio ambiente, ética e cidadania, pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-contos-de-piratas.jpg">
          </div>
          <div class="descricao span6">
            <h4>Contos de piratas</h4>
            <p>Para estes contos, Conan Doyle (criador do personagem Sherlock Holmes) buscou inspiração em piratas da vida real, tema que estudou durante muitos anos. O livro ainda conta com texto sobre o autor e biografias dos piratas reais citados.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Arthur Conan Doyle</dd>
              <dt>Páginas</dt>
              <dd>120</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-252-0</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Assuntos</dt>
              <dd>Aventuras, piratas, corsários, viagens</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-cordel.jpg">
          </div>
          <div class="descricao span6">
            <h4>Cordel - Patativa do Assaré</h4>
            <p>Este livro é uma antologia dos cordéis mais conhecidos de Patativa do Assaré. O cordel é uma das expressões mais originais da cultura brasileira e um poderoso instrumento de incentivo à leitura, por ser uma história contada com ritmo e rima. Entre os cordéis aqui reunidos estão “Emigração e as consequências” e “ABC do Nordeste flagelado”.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Patativa do Assaré</dd>
              <dt>Páginas</dt>
              <dd>130</dd>
              <dt>ISBN</dt>
              <dd>978-85-87328-19-9</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II</dd>
              <dt>Assuntos</dt>
              <dd>Poesia, cultura popular</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-misterio-na-zona-sul.jpg">
          </div>
          <div class="descricao span6">
            <h4>Mistério na Zona Sul</h4>
            <p>História de três jornalistas que recebem uma denúncia anônima envolvendo trabalho infantil e resolvem investigar, arriscando-se em uma aventura cujos resultados são imprevisíveis e perigosos.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Roberto Barbato Jr.</dd>
              <dt>Ilustração</dt>
              <dd>Otavio Zani</dd>
              <dt>Páginas</dt>
              <dd>146</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-254-4</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II</dd>
              <dt>Assuntos</dt>
              <dd>Aventura, trabalho infantil</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, Trabalho e consumo</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-a-semente-e-a-torre.jpg">
          </div>
          <div class="descricao span6">
            <h4>A semente e a torre</h4>
            <p>A semente e a torre, do pintor renascentista Leonardo da Vinci, conta a história de uma amizade impossível entre esses dois estranhos personagens que, por acaso, se encontram e se abraçam mas, com o passar do tempo...</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Leonardo da Vinci</dd>
              <dt>Ilustração</dt>
              <dd>Ulisses Garcez</dd>
              <dt>Páginas</dt>
              <dd>32</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-130-1</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental</dd>
              <dt>Assuntos</dt>
              <dd>Relações de amizade, tolerância</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-ideias-de-canario.jpg">
          </div>
          <div class="descricao span6">
            <h4>Ideias de canário</h4>
            <p>Em Ideias de canário, Machado de Assis faz de um canário, mais especificamente suas ideias, o personagem principal. Com ilustrações de Luana Geiger, o conto de Machado, aqui em versão integral, ganhou uma visão contemporânea.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Machado de Assis</dd>
              <dt>Ilustração</dt>
              <dd>Luana Geiger</dd>
              <dt>Páginas</dt>
              <dd>40</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-267-4</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental</dd>
              <dt>Assuntos</dt>
              <dd>Ética, liberdade</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-o-medico-e-o-monstro.jpg">
          </div>
          <div class="descricao span6">
            <h4>O médico e o monstro</h4>
            <p>O Dr. Jekyll é um médico conhecido por todos por sua generosidade. O que poucos sabem é que durante a noite ele se transforma em uma pessoa muito diferente, dominada por sentimentos perversos e violentos. A clássica narrativa de Stevenson trata da personalidade e do modo como nossos instintos elevados e nobres tentam se sobrepor aos instintos mesquinhos e maldosos.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Robert Louis Stevenson</dd>
              <dt>Ilustração</dt>
              <dd>Charles Raymond Macauley</dd>
              <dt>Páginas</dt>
              <dd>114</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-272-8</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Assuntos</dt>
              <dd>Desenvolvimento da personalidade</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-me-encontre-no-sexto-andar.jpg">
          </div>
          <div class="descricao span6">
            <h4>Me encontre no sexto andar</h4>
            <p>Clarice, Deco e Shazam se conhecem, por acaso, em um uma loja de departamentos. O andar dedicado aos brinquedos está cheio de crianças correndo por todos os lados. Enquanto isso, os adultos torcem para que Adamastor, o eletricista, faça a televisão voltar a funcionar. É dia 5 de julho de 1982, dia em que uma das melhores seleções que o Brasil já teve foi desclassificada da Copa do Mundo. E o dia em que Clarice, Deco e Shazam descobriram uma caixa preta.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Alexandre Rampazo</dd>
              <dt>Páginas</dt>
              <dd>200</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-37-2</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II</dd>
              <dt>Assuntos</dt>
              <dd>Relações de amizade, História</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, trabalho e consumo</dd>
            </dl>
          </div>
        </article>
      </section>
      <section>
        <h2>Clássicos na escola</h2>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-o-gato-preto.jpg">
          </div>
          <div class="descricao span6">
            <h4>O gato preto e outros contos</h4>
            <p><strong>Sobre o livro e o autor:</strong> Os contos deste livro abordam temas até hoje associados ao nome de seu autor, como a morte, o mistério, a crueldade, o horror e o fantástico, e são uma demonstração do apuro estilístico e do gênio de Edgar Allan Poe (1809-1849), escritor norte-americano considerado o criador do gênero policial e muito conhecido por seus contos de mistério e suspense.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Edgar Allan Poe</dd>
              <dt>Introdução crítica</dt>
              <dd>Guilherme da Silva Braga</dd>
              <dt>Páginas</dt>
              <dd>144</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-100-4</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Conto</dd>
              <dt>Assuntos</dt>
              <dd>Mistério, Investigação, Clássico da literatura em língua inglesa</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-contos-classicos-de-vampiro.jpg">
          </div>
          <div class="descricao span6">
            <h4>Contos clássicos de vampiro</h4>
            <p><strong>Sobre o livro e o autor:</strong> Esta coletânea abrange um período de cem anos de histórias de vampiros, desde o fragmento de Lord Byron, passando pelo capítulo suprimido de <em>Drácula</em> por Bram Stoker, até um texto inédito de F. G. Loring.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lord Byron, Bram Stoker e outros</dd>
              <dt>Introdução crítica</dt>
              <dd>Alexandre Meireles da Silva (UFG)</dd>
              <dt>Páginas</dt>
              <dd>266</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-165-3</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Conto</dd>
              <dt>Assunto</dt>
              <dd>Vampiros</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-os-sofrimentos-do-jovem-werther.jpg">
          </div>
          <div class="descricao span6">
            <h4>Os sofrimentos do jovem Werther</h4>
            <p><strong>Sobre o livro e o autor:</strong> Este romance, escrito em forma de cartas, é o livro fundador do Romantismo na Alemanha, com seu personagem que valoriza acima de tudo sua vida interior, mesmo quando ela entra em conflito com as normas do convívio social. Johann Wolfgang von Goethe (1749-1852) é o mais importante poeta da Alemanha, autor do poema dramático <em>Fausto</em>, do romance <em>Os anos de aprendizado de Wilhelm Meister</em> e de numerosa obra teatral, poética e memorialística.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Johann W. Von Goethe</dd>
              <dt>Introdução crítica</dt>
              <dd>Oliver Tolle (UFS)</dd>
              <dt>Páginas</dt>
              <dd>168</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-020-8</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Romance epistolar</dd>
              <dt>Assuntos</dt>
              <dd>Individualidade, Romantismo</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-a-metamorfose.jpg">
          </div>
          <div class="descricao span6">
            <h4>A metamorfose</h4>
            <p><strong>Sobre o livro e o autor:</strong> <em>A metamorfose</em> é uma das mais influentes novelas do século XX e uma metáfora definitiva da desumanização do mundo moderno. Trata-se da história do caixeiro viajante Gregor Samsa, que acorda um dia inexplicavelmente transformado em um inseto. Franz Kafka (1883-1924) é um escritor checoslovaco de expressão alemã, autor dos romances O processo, O castelo e América, além de numerosos contos e parábolas.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Franz Kafka</dd>
              <dt>Introdução crítica</dt>
              <dd>Celso Donizete Cruz (UFS)</dd>
              <dt>Páginas</dt>
              <dd>112</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-137-0</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Novela</dd>
              <dt>Assuntos</dt>
              <dd>Desumanização, vida em sociedade</dd>
              <dt>Temas transversaisl</dt>
              <dd>Ética e cidadania, trabalho e consumo</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-a-volta-do-parafuso.jpg">
          </div>
          <div class="descricao span6">
            <h4>A volta do parafuso</h4>
            <p><strong>Sobre o livro e o autor:</strong> História de uma jovem preceptora (professora particular) que vai cuidar de duas crianças no interior da Inglaterra. Com o tempo, ela descobre presenças fantasmagóricas na mansão e o passado suspeito dos moradores. Henry James (1843-1916) é um escritor norte-americano famoso por seus amplos retratos sociais, presentes em romances como <em>Os embaixadores</em> e <em>Retrato de uma senhora</em>.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Henry James</dd>
              <dt>Introdução crítica</dt>
              <dd>Marcelo Pen (USP)</dd>
              <dt>Páginas</dt>
              <dd>182</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-163-9</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Romance</dd>
              <dt>Assuntos</dt>
              <dd>Suspense, terror psicológico</dd>
              <dt>Temas transversais</dt>
              <dd>Pluralidade cultural, ética e cidadania</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-o-retrato-de-dorian-gray.jpg">
          </div>
          <div class="descricao span6">
            <h4>O retrato de Dorian Gray</h4>
            <p><strong>Sobre o livro e o autor:</strong> Dorian é um jovem de beleza perfeita que, por temer perdê-la, deseja a eterna juventude. Quando um artista pinta seu retrato, a imagem do quadro passa a envelhecer em seu lugar. Oscar Wilde (1854-1900) é um importante poeta e prosador irlandês. Dentre suas obras, contam--se o poema <em>A balada do cárcere de Reading</em> e a peça <em>Salomé</em>.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Oscar Wilde</dd>
              <dt>Introdução crítica</dt>
              <dd>Ricardo Lísias</dd>
              <dt>Páginas</dt>
              <dd>256</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-011-9</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Romance</dd>
              <dt>Assuntos</dt>
              <dd>Vaidade, beleza, envelhecimento</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-a-fabrica-de-robos.jpg">
          </div>
          <div class="descricao span6">
            <h4>A fábrica de robôs</h4>
            <p><strong>Sobre o livro e o autor:</strong> Nesta peça, somos apresentados a um mundo no qual o avanço indiscriminado da ciência e da técnica deflagra uma crise que ameaça a própria humanidade. Karel Tchápek (1880-1938) foi um escritor checoslovaco. Além de peças teatrais, escreveu histórias de detetive e narrativas de viagem. É considerado um precursor da ficção científica.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Karel Tchápek</dd>
              <dt>Introdução crítica</dt>
              <dd>Aleksandar Jovanovic (USP)</dd>
              <dt>Páginas</dt>
              <dd>148</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-161-5</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Teatro</dd>
              <dt>Assuntos</dt>
              <dd>Ciência, inteligência artificial</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, trabalho e consumo</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-bom-crioulo.jpg">
          </div>
          <div class="descricao span6">
            <h4>Bom crioulo</h4>
            <p><strong>Sobre o livro e o autor:</strong> <em>Bom crioulo</em> conta a história de Amaro, escravo foragido que ingressa na marinha. Trata-se de um retrato dos conflitos sociais do século XIX brasileiro. Adolfo Caminha (1867-1897) foi um escritor cearense ligado à escola literária conhecida como Naturalismo, que buscava realçar os aspectos mais instintivos e biológicos do comportamento humano.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Adolfo Caminha</dd>
              <dt>Introdução crítica</dt>
              <dd>João Silvério Trevisan</dd>
              <dt>Páginas</dt>
              <dd>160</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-133-2</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Romance</dd>
              <dt>Assuntos</dt>
              <dd>Educação social, sociedade brasileira no século XIX, racismo</dd>
              <dt>Temas transversais</dt>
              <dd>Pluralidade cultural, trabalho e consumo</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-a-cidade-das-serras.jpg">
          </div>
          <div class="descricao span6">
            <h4>A cidade e as serras</h4>
            <p><strong>Sobre o livro e o autor:</strong> Romance sobre as tensões vividas pelo homem nas cidades modernas, afastado dos prazeres da vida simples e natural. Eça de Queiroz (1845-1900) é o mais importante romancista português do século XIX, autor de obras como <em>O crime do padre Amaro</em> e <em>A ilustre casa de Ramires</em>.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Eça de Queiroz</dd>
              <dt>Introdução crítica</dt>
              <dd>Caio Gagliardi (USP)</dd>
              <dt>Páginas</dt>
              <dd>312</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-019-4</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Romance</dd>
              <dt>Assunto</dt>
              <dd>Vida urbana <em>versus</em> vida no campo</dd>
              <dt>Temas transversais</dt>
              <dd>Pluralidade cultural, trabalho e consumo, meio ambiente</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-sonetos.jpg">
          </div>
          <div class="descricao span6">
            <h4>Sonetos [Edição Bilíngue]</h4>
            <p><strong>Sobre o livro e o autor:</strong> Esta edição reúne alguns dos mais perfeitos sonetos sobre o amor ideal escritos pelo grande gênio inglês. William Shakespeare (1564-1616), conhecido principalmente por sua obra dramática, que inclui títulos como <em>Romeu e Julieta</em>, <em>Hamlet</em>, <em>Rei Lear</em> e <em>Othelo</em>, é considerado ainda hoje um dos mais importantes escritores de todos os tempos.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>William Shakespeare</dd>
              <dt>Introdução crítica</dt>
              <dd>Péricles Eugênio da Silva Ramos</dd>
              <dt>Páginas</dt>
              <dd>144</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-079-3</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Poesia</dd>
              <dt>Assunto</dt>
              <dd>Idealismo amoroso</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-mensagem.jpg">
          </div>  
          <div class="descricao span6">
            <h4>Mensagem</h4>
            <p><strong>Sobre o livro e o autor:</strong> <em>Mensagem</em> reúne 44 poemas sobre os grandes momentos, as principais personalidades e os mitos da história de Portugal. Fernando Pessoa (1888-1935) foi um poeta português do período modernista. <em>Mensagem</em> foi o único livro que publicou em vida. Após sua morte, foi descoberta uma extensa obra assinada por heterônimos do poeta, como Álvaro de Campos, Ricardo Reis e Alberto Caeiro.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Fernando Pessoa</dd>
              <dt>Introdução crítica</dt>
              <dd>Caio Gagliardi (USP)</dd>
              <dt>Páginas</dt>
              <dd>160</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-038-0</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Poesia</dd>
              <dt>Assunto</dt>
              <dd>Mitos portugueses, História de Portugal</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </article>
        <article class="livro row">
          <div class="capa span2">
            <img alt="" src="/assets/l-auto-da-barca-do-inferno.jpg">
          </div>
          <div class="descricao span6">
            <h4>Auto da barca do inferno</h4>
            <p><strong>Sobre o livro e o autor:</strong> A história se passa em um porto no qual as almas, conforme a sua conduta, são conduzidas para a barca do anjo ou a barca do demônio. <em>Auto da barca do inferno</em> é uma representação da sociedade portuguesa no século XVI. Gil Vicente (1645-1536) é autor de uma extensa obra dramática, considerada um dos grandes monumentos da Língua Portuguesa.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Gil Vicente</dd>
              <dt>Introdução crítica</dt>
              <dd>Ricardo Martins Valle (UESB)</dd>
              <dt>Páginas</dt>
              <dd>108</dd>
              <dt>ISBN</dt>
              <dd>978-85-7715-016-X</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino Médio</dd>
              <dt>Gênero</dt>
              <dd>Teatro</dd>
              <dt>Assuntos</dt>
              <dd>Conduta, Moral, Religião</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </article>
      </section>
      <footer>
        <address>
          <p>Rua Fradique Coutinho 1139, Subsolo</p>
          <p>CEP 05416-011 - São Paulo - SP</p>
          <p>Tel.: (11) 3097-8304</p>
        </address>
      </footer>
    </div>