    <div class="container">
      <header>
        <h1>Editora Hedra | Hedra Educação</h1>
      </header>
      <section>
        <h2>Situações do dia a dia e dúvidas das crianças</h2>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-minha-familia.jpg" width="120" height="120">
          </div>
          <div class="descricao span6">
            <h4>Minha família: amor e carinho, dar e doar</h4>
            <p>A família de Mateus é assim: seus pais são separados, seu pai casou de novo e agora ele tem uma madrasta de quem gosta muito. Seus avós sempre encontram um tempo para passear. E ele acabou de ganhar um priminho! Seus tios adotaram um menino. Com delicadeza, a autora coloca para os jovens leitores as diferentes possibilidades de constituição de uma família. Nenhuma precisa ser igual a outra, desde que haja amor e carinho, a família está presente.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-32-7</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assunto</dt>
              <dd>Relações familiares</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-super-eu.jpg" width="120" height="120">
          </div>
          <div class="descricao span6">
            <h4>Super-eu: tudo o que você queria saber</h4>
            <p>Alex é um garoto que tem superpoderes, ele é o Super-Eu. Ele transforma o sofá em navio pirata e a bicicleta em carro de corrida. Quando arruma o quarto, tem a companhia de um feroz dragão sugador, que sua mãe insiste em chamar de aspirador. Lisa Bullard, de forma lúdica, mostra que todos nós podemos ser super-heróis.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-28-0</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assuntos</dt>
              <dd>Autoestima, imaginação, brincadeiras infantis</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania, pluralidade cultural</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-meu-dia.jpg" width="120" height="120">
          </div>
          <div class="descricao span6">
            <h4>Meu dia: manhã, tarde e noite</h4>
            <p>A organização do dia a dia é importante para o bem-estar da criança. Horário para dormir, para acordar, para entrar e sair da escola. Lisa Bullard trata da organização do cotidiano das crianças mostrando sua importância para o bem-estar infantil.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-31-0</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assuntos</dt>
              <dd>Relações familiares, relações de amizade, organização do dia</dd>
              <dt>Tema transversal</dt>
              <dd>Saúde</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-meu-bairro.jpg" width="120" height="120">
          </div>
          <div class="descricao span6">
            <h4>Meu bairro: pessoas e lugares</h4>
            <p>Lili quer apresentar o bairro para seu novo vizinho. A mãe de Lili apelidou os lugares em que ela pode andar sozinha, sem a companhia de um adulto, de “Zona do Sozinho”. Mas Lili quer que seu novo amigo conheça mais do bairro. Com sua mãe, então, partem para mostrar tudo o que a região oferece.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-30-3</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assuntos</dt>
              <dd>Relações de amizade, moradia</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, pluralidade cultural</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-meu-corpo.jpg" width="120" height="120">
          </div>
          <div class="descricao span6">
            <h4>Meu corpo: da cabeça aos pés</h4>
            <p>Cada pessoa tem o corpo de um jeito, mas temos muito mais em comum do que parece. Todos temos dois olhos, duas orelhas e um lindo sorriso. E isso é o que conseguimos enxergar. Do lado de dentro está o coração, e o cérebro e tantos outros órgãos que fazem nosso corpo funcionar. Neste livro, Lisa Bullard nos apresenta alguns detalhes do corpo humano, como ele funciona e como cuidar melhor dele.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-00-6</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assunto</dt>
              <dd>Corpo humano</dd>
              <dt>Tema transversal</dt>
              <dd>Saúde</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-minha-casa.jpg" width="120" height="120">
          </div>
          <div class="descricao span6">
            <h4>Minha casa: da parede ao teto</h4>
            <p>Ao ajudar seu pai a construir uma casa para sua cachorrinha, nossa personagem nos apresenta um pouco sobre as casas em que moramos também. Pode ser uma casa térrea, uma casa de dois andares, um apartamento ou até mesmo uma casa sobre rodas. O importante é que a casa seja um lar, onde quem mora sinta-se feliz e cuide de sua moradia, com limpeza diária e carinho.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Lisa Bullard</dd>
              <dt>Ilustração</dt>
              <dd>Brandon Reibeling</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-29-7</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 8 anos</dd>
              <dt>Assunto</dt>
              <dd>Moradia, limpeza doméstica, arquitetura</dd>
              <dt>Temas transversais</dt>
              <dd>Pluralidade cultural, trabalho e consumo, saúde</dd>
            </dl>
          </div>
        </div>
      </section>
      <section>
        <h2>Matemática para crianças</h2>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-veio-do-jardim.jpg" width="120" height="120">
          </div>
          <div class="descricao span6">
            <h4>Veio do jardim: um livro de contar</h4>
            <p>Ao montar uma salada com legumes, frutas e verduras colhidos no jardim, a autora apresenta os números de 1 a 12 aos pequenos leitores.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Michael Dahl</dd>
              <dt>Ilustração</dt>
              <dd>Todd Ouren</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-35-8</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 6 anos</dd>
              <dt>Assuntos</dt>
              <dd>Matemática, alimentação</dd>
              <dt>Tema transversal</dt>
              <dd>Saúde</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-ovos-com-pernas.jpg" width="120" height="120">
          </div>
          <div class="descricao span6">
            <h4>Ovos com pernas: contando de dois em dois</h4>
            <p>Ovos começam a ganhar pernas e saem andando pela fazenda. Contando de dois em dois as perninhas, o pequeno leitor é introduzido à tabuada do dois.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Michael Dahl</dd>
              <dt>Ilustração</dt>
              <dd>Todd Ouren</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-36-5</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 6 anos</dd>
              <dt>Assunto</dt>
              <dd>Matemática</dd>
              <dt>Tema transversal</dt>
              <dd>Meio ambiente</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-usando-as-maos.jpg" width="120" height="120">
          </div>
          <div class="descricao span6">
            <h4>Usando as mãos: contando de cinco em cinco</h4>
            <p>Usando os dedos das mãos, aprende-se a contar de cinco em cinco e ainda a fazer belos desenhos usando as mãos.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Michael Dahl</dd>
              <dt>Ilustração</dt>
              <dd>Todd Ouren</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-33-4</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 6 anos</dd>
              <dt>Assuntos</dt>
              <dd>Matemática, artes</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-pes-na-areia.jpg" width="120" height="120">
          </div>
          <div class="descricao span6">
            <h4>Pés na areia: contando de dez em dez</h4>
            <p>É verão e hora de colocar os pés na areia. Contando os dedos dos dois pés, o pequeno leitor é convidado a aprender a contar de dez em dez.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Michael Dahl</dd>
              <dt>Ilustração</dt>
              <dd>Zachary Trover</dd>
              <dt>Páginas</dt>
              <dd>24</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-34-1</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 6 anos</dd>
              <dt>Assunto</dt>
              <dd>Matemática</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </div>
      </section>
      <section>
        <h2>Problemas da vida real</h2>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-vencendo-o-bullying.jpg" width="120" height="182">
          </div>
          <div class="descricao span6">
            <h4>Vencendo o bullying</h4>
            <p>Em <em>Vencendo o bullying</em>, você pode entender melhor o que é bullying, se dar conta que já foi vítima, ou até mesmo que já praticou este tipo de ato. Qualquer que seja o caso, o importante é observar como fazer algo a respeito.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Charlotte Guillain</dd>
              <dt>Páginas</dt>
              <dd>48</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-45-7</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino médio</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 12 anos</dd>
              <dt>Assuntos</dt>
              <dd>Bullying, relações de amizade</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, pluralidade cultural, saúde</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-vencendo-o-cyber-bullying.jpg" width="120" height="182">
          </div>
          <div class="descricao span6">
            <h4>Vencendo o cyber bullying</h4>
            <p>Em <em>Vencendo o cyber bullying</em>, o autor nos coloca um tema cada vez mais presente em nosso dia a dia, o cyber bullying, forma de bullying via mensagens de celular, redes sociais entre outros.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Nick Hunter</dd>
              <dt>Páginas</dt>
              <dd>56</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-46-4</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino médio</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 12 anos</dd>
              <dt>Assuntos</dt>
              <dd>Bullying, relações de amizade</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, pluralidade cultural, saúde</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-vencendo-a-violencia-domestica.jpg" width="120" height="182">
          </div>
          <div class="descricao span6">
            <h4>Vencendo a violência doméstica</h4>
            <p>Este livro procura responder algumas perguntas como: O que é violência doméstica? Onde posso procurar ajuda? Como posso ajudar uma vítima? De maneira simples e didática, a autora procura ajudar quem tanto precisa de apoio.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Liz Miles</dd>
              <dt>Páginas</dt>
              <dd>48</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-47-1</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental II e Ensino médio</dd>
              <dt>Faixa etária</dt>
              <dd>a partir dos 12 anos</dd>
              <dt>Assuntos</dt>
              <dd>Violência doméstica, relações familiares, comportamento</dd>
              <dt>Temas transversais</dt>
              <dd>Ética e cidadania, saúde</dd>
            </dl>
          </div>
        </div>
      </section>
      <section>
        <h2>Indicações de leitura para a sala de aula</h2>
        <h3>A partir dos 6 anos</h3>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-todo-mundo-tem.jpg" width="120" height="138">
          </div>
          <div class="descricao span6">
            <h4>Todo mundo tem</h4>
            <p>Luzia é uma menina curiosa que começa a perceber que todas as pessoas e todas as coisas têm algo que as acompanha. Todo mundo tem, menos o Sol. Curioso, não? Assim, Luzia descobre a sua sombra: de dia dançam juntas e de noite brincam de assombração.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto e ilustração</dt>
              <dd>Edith Derdyk</dd>
              <dt>Páginas</dt>
              <dd>36</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-44-0</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assuntos</dt>
              <dd>Ciências, sombra</dd>
              <dt>Temas transversais</dt>
              <dd>Meio ambiente</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-pra-la.jpg" width="120" height="81">
          </div>
          <div class="descricao span6">
            <h4>Pra lá</h4>
            <p>Neste livro, a canção de Luiz Tatit e Dante Ozzetti recebe as ilustrações de Edith Derdyk. De maneira delicada, a artista nos coloca em um mundo sempre indo, pra frente, pra lá.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Luiz Tatit e Dante Ozzetti</dd>
              <dt>Ilustração</dt>
              <dd>Edith Derdyk</dd>
              <dt>Páginas</dt>
              <dd>36</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-42-6</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assunto</dt>
              <dd>Música</dd>
              <dt>Temas transversais</dt>
              <dd>Meio ambiente, pluralidade cultural</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-o-quadrado.jpg" width="120" height="127">
          </div>
          <div class="descricao span6">
            <h4>O quadrado</h4>
            <p>Este livro conta a história do quadrado na visão da autora. Um quadrado é um quadrado, todo mundo sabe. Mas, para que ele serve? Quem será que o inventou? O texto delicado de Vanessa Campos Rocha recebe, pela primeira vez, ilustrações da própria autora.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto e ilustração</dt>
              <dd>Vanessa Campos Rocha</dd>
              <dt>Páginas</dt>
              <dd>36</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-49-5</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assunto</dt>
              <dd>Formas geométricas</dd>
              <dt>Tema transversal</dt>
              <dd>Ética e cidadania</dd>
            </dl>
          </div>
        </div>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-trum-e-o-passaro-musical.jpg" width="120" height="127">
          </div>
          <div class="descricao span6">
            <h4>Trum e o pássaro musical</h4>
            <p>Elzbieta é uma das mais renomadas autoras francesas de livros infantis. Nesta obra, com o apoio da compositora e pianista Sharon Kanch, a autora nos mostra que a música pode estar em todos os lugares. Só precisamos ouvir.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto e ilustração</dt>
              <dd>Elzbieta</dd>
              <dt>Concepção musical</dt>
              <dd>Sharon Kanch</dd>
              <dt>Páginas</dt>
              <dd>48</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-50-1</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assuntos</dt>
              <dd>Música, artes</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </div>
        <h3>A partir dos 8 anos</h3>
        <div class="livro row">
          <div class="capa span2">
            <img src="/assets/l-o-livro-dos-tutus.jpg" width="120" height="135">
          </div>
          <div class="descricao span6">
            <h4>O livro dos tutus: os assombrosos, monstruosos, horríveis, cruéis e terríveis bichos-papões do folclore brasileiro</h4>
            <p>Pelo Brasil, todo tipo de bicho-papão aparece nas brincadeiras e nos pesadelos das crianças — bando de bicho chato! No texto de Blandina Franco e nas ilustrações de José Carlos Lollo, esses chatos ganham vida e nos mostram que esse mundo dos assombrosos, monstruosos e terríveis seres do folclore brasileiro, mesmo amedrontador, pode ser divertido.</p>
          </div>
          <div class="ficha span4">
            <dl>
              <dt>Texto</dt>
              <dd>Blandina Franco</dd>
              <dt>Ilustração</dt>
              <dd>José Carlos Lollo</dd>
              <dt>Páginas</dt>
              <dd>32</dd>
              <dt>ISBN</dt>
              <dd>978-85-65206-48-8</dd>
              <dt>Faixa de ensino</dt>
              <dd>Ensino Fundamental I</dd>
              <dt>Assunto</dt>
              <dd>Folclore brasileiro</dd>
              <dt>Tema transversal</dt>
              <dd>Pluralidade cultural</dd>
            </dl>
          </div>
        </div>
      </section>
      <footer>
        <address>
          <p>Rua Fradique Coutinho 1139, Subsolo</p>
          <p>CEP 05416-011 - São Paulo - SP</p>
          <p>Tel.: (11) 3097-8304</p>
        </address>
      </footer>
    </div>