    <section id="main">
      <img src="assets/logos.png" width="960" height="239">
      <div id="notice">
        <p>Estamos fora do ar temporariamente para reformulação. Enquanto isso, você pode <a href="http://www.livrariacultura.com.br/scripts/busca/busca.asp?avancada=1&titem=1&bmodo=&palavratitulo=&modobuscatitulo=pc&palavraautor=&modobuscaautor=pc&palavraeditora=Hedra&palavracolecao=&palavraISBN=&n1n2n3=&cidioma=&precomax=&ordem=disponibilidade">comprar os nossos livros pela internet na Livraria Cultura</a>.</p>
      </div>
      <address>
        <p>Rua Fradique Coutinho 1139, Subsolo - 05416-011 - São Paulo - SP</p>
        <p>Tel.: (11) 3097-8304</p>
      </address>
    </section>