<div id="blog-header" class="row container">
  <div class="span12">
    <p>Seja bem vindo ao <span>Blog da Hedra</span>! :-)</p>
    <p>Aqui você encontra notícias sobre livros, ebooks e tudo o que rola em torno da nossa Editora.</p>
  </div>
</div>

<%= render :partial => "post", :collection => @posts %>