<% page_data :title => @page.tag.name, :type => 'article' %>
<div id="tag">
  <div class="container">
    <%= yield :h1 %>

    <% if @page.body.present? && @page.tag_image.present? %>
      <div id="extra">
        <div id="image"><%= image_tag(@page.tag_image.to_s) %></div>
        <p><%= @page.body %></p>
      </div>
    <% end %>

    <%= render :partial => 'pages/book', :collection => @books %>
  </div>
</div>
