<aside class="book-info span3">
  <div class="book-info-cover cover">
    <%= link_to image_tag(book.cover_url(:big_thumb).to_s), book_path(book) %>
  </div>
  <div class="book-info-data">
    <dl>
      <% book_team(book).each do |role, people| %>
        <dt><%= role%></dt>
        <dd><%= formatted_list(people.collect{ |p| link_to(p, {controller: "books", action: "search", params: {term: p}}, {target: "_blank"} ) }).html_safe %></dd>
      <% end %>
    </dl>
  </div>
</aside>
