<div class="list-price">
  <%= content_tag(:h4, 'Compre:') if params[:action] == 'show' %>
  <ul>
    <% if book.price_print? %>
      <li>
        <%= render 'layouts/pagseguro_form', :book => book %>
      </li>
    <% end %>
  </ul>
</div>
