<% page_data :title => @category.name, :type => 'book' %>
<div class="container">
  <%= yield :h1 %>
</div>
<div id="category-list">
  <div class="container">
    <%= render :partial => 'pages/book', :collection => @books %>
    <%= will_paginate @books %>
  </div>
</div>
