<% title @category.name %>
<div id="recommendations">
  <div class="container">
    <%= yield :h1 %>
    <%= render :partial => 'pages/recommendation', :collection => @books %>
    <%= will_paginate @posts %>
  </div>
</div>
