<% page_data :title => 'Resultados da busca', :type => 'other' %>
<div id="search-info" class="container">
  <h1><span class="search-count"><%= @books.total_entries %></span> resultados para <span class="search-term">&ldquo;<%= params[:term] %>&rdquo;</span></h1>
</div>
<div id="search-results">
  <div class="container">
    <%= render :partial => 'pages/book', :collection => @books %>
    <%= will_paginate @books %>
  </div>
</div>
