<div class="book-page row">
  <aside class="book-info span3">
    <div class="book-info-cover">
      <%= image_tag @book.cover_url.to_s %>
    </div>
    <div class="book-info-data">
      <dl>
        <dt>Organização</dt>
        <dd>Fernando Meirelles</dd>
      </dl>
    </div>
  </aside>
  <div class="span9">
    <h1><%= @book.title %></h1>
    <h2><%= @author.name %></h2>
    <p><%= @book.description %></p>
  </div>
</div>


