<div class="book-page row">
  <aside class="book-info span3">
    <img src="/assets/l-a-volta-do-parafuso.jpg">
    <dl>
      <dt>Organização</dt>
      <dd>Fernando Meirelles</dd>
    </dl>
  </aside>
  <div class="span9">
    <h1><%= @book.title %></h1>
    <h2><%= @author.name %></h2>
    <p><%= @book.description %></p>
  </div>
</div>


