
$(document).on("click", "#link_to_payment_card", function(){
	$("#third_step").hide()
  $("#payment-card").show()
})


$(document).on("click", "#link_to_payment_slip", function(){
  $("#third_step").hide()
  $("#payment_slip").show()
})


Iugu.setAccountID("<%=APP_CONFIG['iugu_account_id']%>");

<% if Rails.env.production? %>
  Iugu.setTestMode(false);
<% else %>
  Iugu.setTestMode(true);
<% end %>


$(document).on("submit", "#payment-form", function(){

  if(validate_payment_form()){
    $('#payment-form input[type="submit"]').attr('disabled','disabled')
    $("#payment-modal").modal({backdrop: true, show: true})
  }else{
    return false
  }

  var form = $(this);
  var tokenResponseHandler = function(data) {
    $("#token").val( data.id )
    form.get(0).submit();
  }
  
  Iugu.createPaymentToken(this, tokenResponseHandler);
  return false;
})  


$(document).on("submit", "#payment_slip form", function(){
  var messages_string = ""
  $("#payment_slip form div.span6 input,select").each(function(){
    if(this.value.length == 0){
      if(this.type == "text"){
        messages_string += "<li>"+ this.placeholder +"é inválido.</li>"
      }else{
        messages_string += "<li>Estado é inválido.</li>"
      }
      $(this).addClass("error")
    }else{
      $(this).removeClass("error")
    }
  })

  if(messages_string.length > 0){
    $("#payment_slip .alert > ul").html(messages_string)
    $("#payment_slip .alert").show()
    return false
  }else{
    $("#payment_slip .alert").hide()
    $('#payment_slip input[type="submit"]').attr('disabled','disabled')
    return true
  }
})


function validate_payment_form(){

  validate_full_name = function(e) {
		return !e || e.length == 0 ? !1 : !0
	}

  var messages = []
  var messages_string = ""

  var number = $('#payment-form input[data-iugu="number"]').val()
  var full_name = $('#payment-form input[data-iugu="full_name"]').val()
  var expiration = $('#payment-form input[data-iugu="expiration"]').val()
  var verification_value = $('#payment-form input[data-iugu="verification_value"]').val()


  if(!Iugu.utils.validateCreditCardNumber(number)){
    messages.push("Número do Cartão é inválido.") 
  }

  if(!validate_full_name(full_name)){
    messages.push("Titular do Cartão é inválido.") 
  }

  if(!Iugu.utils.validateExpirationString(expiration)){
    messages.push("Data de expiração é inválido.") 
  }

  if(!Iugu.utils.validateCVV(verification_value, Iugu.utils.getBrandByCreditCardNumber(number))){
    messages.push("CVV é inválido.") 
  }

  $.each(messages, function(i, m){
  	messages_string += "<li>"+ m +"</li>"
  })

  if(messages.length > 0){
  	$("#payment-card .alert > ul").html(messages_string)
    $("#payment-card .alert").show()
    return false
  }else{
  	$("#payment-card .alert").hide()
  	return true
  }
  
}