
$(document).on("click", "#link_to_payment_card", function(){
  $("#payment_slip, #payment_paypal").slideUp(600)
  $("#link_to_payment_slip input:radio, #link_to_payment_paypal input:radio").prop("checked", false)
  $("#payment_card").slideDown(600)
  $("#link_to_payment_card input:radio").prop("checked", true)
})

$(document).on("click", "#link_to_payment_slip", function(){
  $("#payment_card, #payment_paypal").slideUp(600)
  $("#link_to_payment_card input:radio, #link_to_payment_paypal input:radio").prop("checked", false)
  $("#payment_slip").slideDown(600)
  $("#link_to_payment_slip input:radio").prop("checked", true)
})

$(document).on("click", "#link_to_payment_paypal", function(){
  $("#payment_card, #payment_slip").slideUp(600)
  $("#link_to_payment_card input:radio, #link_to_payment_slip input:radio").prop("checked", false)
  $("#payment_paypal").slideDown(600)
  $("#link_to_payment_paypal input:radio").prop("checked", true)
})


//set defalut mask
$(document).ready(function(){
  $("div.cpf-cnpj input").mask("999.999.999-99");
})


$(document).on("click", "div.cpf-cnpj button", function(){
  $(this).parent().children().removeClass("current")
  $(this).addClass("current")

  var input = $(this).parents(".cpf-cnpj").children("input")

  if($(this).hasClass("cpf")){
    input.attr("placeholder", "CPF")
    input.mask("999.999.999-99")
  }else{
    input.attr("placeholder", "CNPJ")
    input.mask("99.999.999/9999-99")
  }
})


$(document).ready(function(){
  $(".phone-formatter").formatter({
    'pattern': '({{99}}) {{99999}}{{9999}}'
  })
})


Iugu.setAccountID("<%=APP_CONFIG['iugu_account_id']%>");

<% if Rails.env.production? %>
  Iugu.setTestMode(false);
<% else %>
  Iugu.setTestMode(true);
<% end %>


$(document).on("submit", "#payment_card form", function(){

  var messages_array =  check_user_logined().concat(validate_form_payment_card()).concat(validate_form_payment($("#payment_card form [myrequired]")))

  var show_errors = function(messages_array){
    var messages_string = ""

    $.each(messages_array, function(i, m){
      messages_string += "<li>"+ m +"</li>"
    })

    if(messages_array.length > 0){
      $("#payment_card .alert > ul").html(messages_string)
      $("#payment_card .alert").show()
      $('#payment_card form input[type="submit"]').removeAttr('disabled')
      $("#payment-modal").modal('hide')
      return false
    }else{
      $("#payment_card .alert").hide()
      $('#payment_card form input[type="submit"]').attr('disabled','disabled')
      $("#payment-modal").modal({backdrop: true, show: true})
      return true
    }
  }

  if(!show_errors(messages_array)){return false}

  var form = $(this);
  var tokenResponseHandler = function(data) {

    if(data.errors != undefined){
      if(data.errors.timeout != undefined){
        return show_errors(["Tempo limite da rede, por favor, tente novamente mais tarde."])

      }else if(data.errors.first_name != undefined){
        return show_errors(["Primeiro nome é inválido."])

      }else if(data.errors.last_name != undefined){
        return show_errors(["Sobrenome é inválido."])

      }else{
        return show_errors(["Por favor, verifique suas informações de cartão de crédito."])
      }

    }else{
      $("#token").val(data.id)
      form.get(0).submit();
    }
  }

  Iugu.createPaymentToken(this, tokenResponseHandler);
  return false;
})


$(document).on("submit", "#payment_slip form", function(){
  var messages_array = check_user_logined().concat(validate_form_payment($("#payment_slip form [myrequired]")))
  var messages_string = ""

  $.each(messages_array, function(i, m){
    messages_string += "<li>"+ m +"</li>"
  })

  if(messages_string.length > 0){
    $("#payment_slip .alert > ul").html(messages_string)
    $("#payment_slip .alert").show()
    return false
  }else{
    $("#payment_slip .alert").hide()
    $('#payment_slip input[type="submit"]').attr('disabled','disabled')
    $("#payment-modal").modal({backdrop: true, show: true})
    return true
  }
})


$(document).on("submit", "#payment_paypal form", function(){
  var messages_array = check_user_logined().concat(validate_form_payment($("#payment_paypal form [myrequired]")))
  var messages_string = ""

  $.each(messages_array, function(i, m){
    messages_string += "<li>"+ m +"</li>"
  })

  if(messages_string.length > 0){
    $("#payment_paypal .alert > ul").html(messages_string)
    $("#payment_paypal .alert").show()
    return false
  }else{
    $("#payment_paypal .alert").hide()
    $('#payment_paypal input[type="submit"]').attr('disabled','disabled')
    $("#payment-modal").modal({backdrop: true, show: true})
    return true
  }

})


function validate_form_payment(jquery_input_select){
  var messages_array = []
  jquery_input_select.each(function(){
    if($(this).val().length == 0){
      messages_array.push($(this).attr("placeholder") + " é inválido.")
      $(this).addClass("error")
    }else{
      $(this).removeClass("error")
    }
  })
  return messages_array
}


function validate_form_payment_card(){

  validate_full_name = function(e) {
		return !e || e.length == 0 ? !1 : !0
	}

  var messages_array = []

  var number = $('#payment_card form input[data-iugu="number"]').val()
  var full_name = $('#payment_card form input[data-iugu="full_name"]').val()
  month = $('#payment_card form select[name="month_expiration"]').val()
  year = $('#payment_card form select[name="year_expiration"]').val()
  var expiration = month + ' / ' + year
  var verification_value = $('#payment_card form input[data-iugu="verification_value"]').val()


  if(!Iugu.utils.validateCreditCardNumber(number)){
    messages_array.push("Número do Cartão é inválido.")
  }

  if(!validate_full_name(full_name)){
    messages_array.push("Titular do Cartão é inválido.")
  }

  if(!Iugu.utils.validateExpirationString(expiration)){
    messages_array.push("Data de expiração é inválido.")
  }

  if(!Iugu.utils.validateCVV(verification_value, Iugu.utils.getBrandByCreditCardNumber(number))){
    messages_array.push("CVV é inválido.")
  }

  return messages_array
}

function check_user_logined(){
  var messages_array = []
  if(!USER_LOGINED){
    messages_array.push("Por favor, autentique-se primeiro.")
  }
  return messages_array
}
