<% page_data :title => 'Entre em contato', :type => 'other' %>
<div class="container">
  <%= yield :h1 %>
</div>
<div id="contact-area">
  <div class="container">
    <div class="row">
      <div class="span4">
        <p>Envie uma mensagem com suas dúvidas, sugestões ou críticas para nossa equipe.</p>
      </div>
      <div id="contact-form" class="span8">
        <%= render 'contact_form' %>
      </div>
    </div>
  </div>
</div>
<div id="distributors-area">
  <div class="container">
    <h4>Distribuidores Hedra</h4>
    <div class="row">
      <div class="span4">
        <dl>
          <dt>Acre</dt>
          <dd>(68) 3222-4014</dd>
          <dt>Alagoas</dt>
          <dd>(82) 3432-4745 (82) 3432-4746</dd>
          <dt>Amapá</dt>
          <dd>(96) 3222-5450</dd>
          <dt>Amazonas</dt>
          <dd>(92) 3233-0207</dd>
          <dt>Bahia</dt>
          <dd>(71) 3292-0621</dd>
          <dt>Ceará</dt>
          <dd>(85) 3491-5836</dd>
          <dt>Distrito Federal</dt>
          <dd>(61) 3244-0477</dd>
          <dt>Espírito Santo</dt>
          <dd>(27) 3324-8914</dd>
          <dt>Goiás</dt>
          <dd>(62) 3922-5276</dd>
        </dl>
      </div>
      <div class="span4">
        <dl>
          <dt>Maranhão</dt>
          <dd>(98) 3312-6369</dd>
          <dt>Mato Grosso</dt>
          <dd>(11) 3097-8304</dd>
          <dt>Mato Grosso do Sul</dt>
          <dd>(11) 3097-8304</dd>
          <dt>Minas Gerais</dt>
          <dd>(31) 3423-3200</dd>
          <dt>Pará</dt>
          <dd>(91) 3083-7211</dd>
          <dt>Paraíba</dt>
          <dd>(83) 3031-0674</dd>
          <dt>Paraná</dt>
          <dd>(41) 3213-5600</dd>
          <dt>Pernambuco</dt>
          <dd>(81) 3221-5807 (81) 3222-0711</dd>
          <dt>Piauí</dt>
          <dd>(86) 3302-4860</dd>
        </dl>
      </div>
      <div class="span4">
        <dl>
          <dt>Rio de Janeiro</dt>
          <dd>(21) 2264-2815</dd>
          <dt>Rio Grande do Norte</dt>
          <dd>(84) 3092-2878</dd>
          <dt>Rio Grande do Sul</dt>
          <dd>(51) 3311-0832</dd>
          <dt>Rondônia</dt>
          <dd>(69) 3211-5252</dd>
          <dt>Roraima</dt>
          <dd>(92) 3233-0207</dd>
          <dt>Santa Catarina</dt>
          <dd>(48) 3035-2778 (41) 3213-5600</dd>
          <dt>São Paulo</dt>
          <dd>(11) 3097-8304</dd>
          <dt>Sergipe</dt>
          <dd>(79) 3211-8773</dd>
          <dt>Tocantins</dt>
          <dd>(63) 3224-6382</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
</div>
