<% page_data :title => 'Entre em contato', :type => 'other' %>
<div class="container">
  <%= yield :h1 %>
</div>
<div id="contact-area">
  <div class="container">
    <div class="row">
      <div class="span4">
        <p>Envie uma mensagem com suas dúvidas, sugestões ou críticas para nossa equipe.</p>
      </div>
      <div id="contact-form" class="span8">
        <%= render 'contact_form' %>
      </div>
    </div>
  </div>
</div>
<div id="distributors-area">
  <div class="container">
    <h4>Distribuidores Hedra</h4>
    <%= publisher_distributors %>
  </div>
</div>
</div>
