.sign_up_or_sign_in_wrapper{
  width: 100%;
  float: left;
  margin-top: 20px;
}

.sign_up_or_sign_in_wrapper form{
  width: 50%;
  margin: 0px;
  padding: 0px;
  float: left;
}

.sign_up_or_sign_in_wrapper form.sign_up{
  padding-left: 20px;
  border-left: 2px solid #fff;
}

.address_wrapper{
  width: 100%;
  margin-top: 20px;
}

.address_field{
  width: 60%;
  float: left;
  position: relative;
}

.number_field{
  width: 15%;
  float: left;
  position: relative;
}

.complement_field{
  width: 25%;
  float: left;
  position: relative;
}

.district_field{
  width: 33%;
  float: left;
  position: relative;
}

.city_field{
  width: 33%;
  float: left;
  position: relative;
}

.state_field{
  width: 33%;
  float: left;
  position: relative;
}

.zip_code_field{
  width: 25%;
  float: left;
}

.zip_code_btn{
  width: 75%;
  float: left;
  height: 99px;
  padding-top: 30px;
}

#address_address{
	width: 95%;
}

#address_number{
	width: 75%;
}

#address_complement{
	width: 75%;
}