.sign_up_or_sign_in_wrapper{
  width: 100%;
  float: left;
  margin-top: 20px;
}

.sign_up_or_sign_in_wrapper form{
  width: 50%;
  margin: 0px;
  padding: 0px;
  float: left;
}

.sign_up_or_sign_in_wrapper form.sign_up{
  padding-left: 20px;
  border-left: 2px solid #fff;
}

.new_address{
  display:none;
}

.address_selector{
  width: 70%;
  float: left;
  position: relative;
}

.address_selector select{
  width: 90%;
  padding: 0 0 0 5%;
}

.add_address_btn{
  width: 30%;
  float: left;
  position: relative;
}

.address_wrapper{
  width: 100%;
  margin-top: 20px;
}

.identifier_field{
  width: 60%;
  float: left;
  position: relative;
}

.default_field{
  width: 40%;
  float: left;
  height: 99px;
  position: relative;
}

.address_field{
  width: 60%;
  float: left;
  position: relative;
}

.number_field{
  width: 15%;
  float: left;
  position: relative;
}

.complement_field{
  width: 25%;
  float: left;
  position: relative;
}

.district_field{
  width: 33%;
  float: left;
  position: relative;
}

.city_field{
  width: 33%;
  float: left;
  position: relative;
}

.state_field{
  width: 33%;
  float: left;
  position: relative;
}

.zip_code_field{
  width: 25%;
  float: left;
}

.zip_code_btn{
  width: 75%;
  float: left;
  height: 99px;
  padding-top: 30px;
}

#address_identifier{
  width: 95%;
}

#address_address{
	width: 95%;
}

#address_number{
	width: 75%;
}

#address_complement{
	width: 75%;
}

#address_state{
  padding: 0 0 0 5%;
  width: 30%;
}

.address_default label{
  padding-top: 35px; 
}

.address_default label{
  float: left;
  width: 50%;
}

.address_default label.checkbox {
  padding: 40px 0 0 40px;
}