@import "bourbon";

/* ==========================================================================
   Variables
   ========================================================================== */

$font-stack-title: CallunaSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-body: CallunaRegular, TimesNewRoman, "Times New Roman", Times, serif;
$link-main: #E7611D;
$link-hover: #3B9FC1;
$text-body: #333;
$text-title: #515151;
$text-subtitle: #999;
$text-light: #666;
$text-blue: #519fc0;
$selection: #fffdc9;

/* ==========================================================================
   Base styles
   ========================================================================== */

/*
 * Fonts
 */

@font-face {
    font-family: 'CallunaSansRegular';
    src: url('callunasans-regular.eot');
    src: url('callunasans-regular.svg#CallunaSansRegular') format('svg'),
         url('callunasans-regular.eot?#iefix') format('embedded-opentype'),
         url('callunasans-regular.woff') format('woff'),
         url('callunasans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CallunaRegular';
    src: url('calluna-regular.eot');
    src: url('calluna-regular.svg#CallunaRegular') format('svg'),
         url('calluna-regular.eot?#iefix') format('embedded-opentype'),
         url('calluna-regular.woff') format('woff'),
         url('calluna-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CallunaRegular';
    src: url('calluna-bold.eot');
    src: url('calluna-bold.svg#CallunaRegular') format('svg'),
         url('calluna-bold.eot?#iefix') format('embedded-opentype'),
         url('calluna-bold.woff') format('woff'),
         url('calluna-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CallunaRegular';
    src: url('calluna-it.eot');
    src: url('calluna-it.svg#CallunaRegular') format('svg'),
         url('calluna-it.eot?#iefix') format('embedded-opentype'),
         url('calluna-it.woff') format('woff'),
         url('calluna-it.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
  font-family: $font-stack-body;
  font-size: 22px;
  line-height: 1.619;
  font-weight: normal;
  color: $text-body;
}

h1, h2, h3, h4, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], input[type="submit"], button, select, textarea,
#main-nav,
#secondary-nav,
.book-info {
  font-family: $font-stack-title !important;
  font-weight: normal;
  line-height: 1;
  color: $text-light;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

#main-nav, #secondary-nav, .book-info {
  text-transform: uppercase;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select {
  font-size: 14px;
}

input[type="submit"], input[type="submit"]:hover, button {
  text-transform: uppercase;
  text-shadow: none;
  color: white;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  color: $text-light;
  font-size: 14px;
  line-height: 1.3;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  text-transform: uppercase;
  color: $text-light;
  font-size: 14px;
  line-height: 1.3;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  text-transform: uppercase;
  color: $text-light;
  font-size: 14px;
  line-height: 1.3;
}

.book-info {
  text-shadow: none;
}

#main-nav, #secondary-nav {
  text-shadow: white 1px 1px 0;
  ul.nav {
    li {
      font-size: 0.82em;
      text-shadow: white 1px 1px 0;
      a {
        line-height: 1;
        &:link, &:active, &:visited {
          color: $text-light;
        }
        &:hover {
          color: $link-hover;
        }
      }
      &.active a {
        color: $link-hover;
      }
    }
  }
}

#main {
  h1 {
    font-size: 2.32em;
    color: $text-title;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 0.82em;
    color: $text-blue;
  }
  a:link, a:active, a:visited {
    color: $link-main;
    text-decoration: none;
  }
  a:hover {
    color: $link-hover;
    text-decoration: none;
  }
}

footer {
  font-size: 0.82em;
  line-height: 1;
}

dt {
  font-weight: normal;
}

#features {
  h2 {
    font-size: 2.32em;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 0.73em;
    color: $text-subtitle;
  }
}

#new-releases article {
  text-align: center;
}

#new-releases article,
#recommendations article,
.book-list-item {
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 0.73em;
    color: $text-subtitle !important;
  }
}

.list-price {
  button {
    font-family: $font-stack-title;
    font-size: 0.75em;
    letter-spacing: -1px;
    line-height: 1em;
    text-transform: uppercase;
  }
}

.book-page {
  h2 {
    font-size: 0.73em;
    color: $text-subtitle !important;
  }
  .book-info {
    font-size: 0.82em;
  }
}

.book-supplementary-info {
  font-size: 0.82em;
  color: black;
}


/*
 * Base tags
 */

body {
  background: #f7f7f9;
}

footer {
  background: #ededef;
}

h2 {
  margin: 20px 0;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  padding: 15px 10px;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  @include box-shadow(1px 1px 0 #cecece inset);
}

input[type="submit"].btn, input[type="submit"].btn:hover  {
  padding: 15px 20px;
  background: #88b2c2;
  border: none;
  @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}

/* ==========================================================================
   General areas
   ========================================================================== */

header {
  padding-top: 30px;
  h1.logo, p.logo a {
    display: block;
    margin: 0;
    width: 153px;
    height: 51px;
    background: url('/assets/hedra-logo.png') no-repeat;
    background-size: 100%;
  }
  .logo {
    margin: 0;
  }
}

#wrap, footer {
  border-left: 15px solid #6ea1b6;
  border-right: 15px solid #6ea1b6;
}

#main {
  position: relative;
  a:hover {
    border-bottom: 1px solid #ccc;
  }
}

#main-nav, #secondary-nav {
  ul.nav {
    li {
      a {
        margin: 0;
        padding: 30px 10px 18px 20px;
        &:hover {
          background: none;
        }
      }
      &.active a {
        background: none;
      }
    }
  }
}

#main-nav {
  position: relative;
  .navbar-search {
    position: absolute;
    bottom: 20px;
    right: 20px;
    input {
      height: 24px;
      width: 212px;
      background-image: url('/assets/search-icon.png');
      background-repeat: no-repeat;
      background-position: 97% 50%;
    }
    // input::-webkit-input-placeholder,
    // textarea::-webkit-input-placeholder {
    //   font-size: 14px;
    //   line-height: 1.3em;
    // }
    // input:-moz-placeholder,
    // textarea:-moz-placeholder {
    //   font-size: 0.818em;
    //   line-height: 24px;
    // }
    // input:-ms-input-placeholder,
    // textarea:-ms-input-placeholder {
    //   font-size: 0.818em;
    //   line-height: 24px;
    // }
  }
  .social-links {
    position: absolute;
    bottom: 74px;
    right: 20px;
    height: 20px;
    width: 240px;
    p {
      float: left;
      margin: 0 11px 0 0;
      text-shadow: none;
      font-size: 0.6em;
      line-height: 27px;
    }
    ul {
      display: inline;
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
        height: 20px;
        margin: 0 11px 0 0;
        padding-right: 11px;
        border-right: 1px solid #cecece;
        a {
          display: inline-block;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
        }
        &.facebook a {
          width: 10px;
          height: 20px;
          background: transparent url('/assets/facebook-icon.png') center center no-repeat;
        }
        &.twitter a {
          width: 24px;
          height: 20px;
          background: transparent url('/assets/twitter-icon.png') center center no-repeat;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  .dropdown-arrow {
    bottom: 3px;
    position: relative;
    font-size: 1.3em;
    line-height: 0;
  }
  ul.nav {
    margin-bottom: 30px;
    border-left: 1px solid #e6e6e7;
    border-right: 1px solid #e6e6e7;
    border-bottom: 1px solid #c4c4c5;
    @include background-image(linear-gradient(rgba(235,235,236,0), rgba(235,235,236,1)));
    border-radius: 3px;
    @include box-shadow(0 1px 1px #e6e6e7);
    li:hover ul {
      left: 11px;
    }
    ul {
      position: absolute;
      top: 56px;
      left: -9999em;
      z-index: 5;
      width: 230px;
      padding: 10px 0;
      margin: 0;
      list-style: none;
      background: white;
      border-top: 3px solid #6d9fb6;
      border-bottom: none;
      border-right: none;
      border-left: none;
      border-radius: 3px;
      @include box-shadow(1px 1px 2px rgba(0,0,0,0.25));
      li {
        float: left;
        a {
          display: block;
          margin: 0;
          padding: 7.5px 20px;
          width: 190px;
          color: $link-hover !important;
        }
      }
    }
  }
}

#secondary-nav {
  ul {
    margin-bottom: 0;
    li {
      a {
        padding: 30px 0 15px 15px;
      }
      &:first-child a {
        padding-left: 0;
      }
      a:after {
        content: "·";
        margin-left: 15px;
      }
      &:last-child a:after {
        content: "";
        margin-left: 0;
      }
    }
  }
}

.list-price {
  padding: 5px 10px;
  background: #ededef;
  border-radius: 5px;
  h4 {
    margin: 0 0 15px 0;
  }
  ul {
    margin: 0;
    li {
      list-style: none;
      margin: 10px 0;
      button {
        padding: 0;
        width: 100%;
        text-align: left;
        overflow: hidden;
        border: none;
        background: transparent;
        color: #333;
        span {
          display: inline-block;
          padding: 15px 10px;
          text-align: left;
          &.price {
            float: right;
            text-align: right;
            width: 60px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.book-price .list-price {
  padding: 20px;
  button {
    background: #88b2c2;
    color: white;
    border-radius: 5px;
    @include box-shadow(1px 1px 2px #ccc);
    span {
      &.price {
        background: #39a0c1;
      }
    }
  }
}

.book-list-item {
  display: table;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e3e3e5;
  .item-cover {
    display: table-cell;
  }
  .item-info {
    display: table-cell;
    vertical-align: middle;
    h3 {
      margin: 0 0 9px 0;
    }
    h4 {
      margin: 0 0 13px 0;
    }
  }
  &:last-child {
    border-bottom: none;
  }
}

.cover {
  img {
    @include box-shadow(2px 3px 8px rgba(0, 0, 0, 0.4));
  }
}

footer {
  position: relative;
  z-index: 5;
  #company-address address {
    padding-top: 30px;
    border-top: 1px solid #dadadc;
  }

  .company-copyright {
    margin-bottom: 30px;
  }
}

/* ==========================================================================
   Pages
   ========================================================================== */

/*
 * Home
 */

#features, #new-releases, #recommendations {
  position: relative;
  padding-bottom: 70px;
  @include box-shadow(0 7px 10px rgba(0, 0, 0, 0.07));
}

#features {
  z-index: 3;
  background: transparent;
}

#new-releases {
  z-index: 2;
  background: #f4f4f6;
  h2 {
    margin: 60px 0 20px 0;
  }
}

#recommendations {
  padding-bottom: 0;
  z-index: 1;
  background: #f7f7f9;
  h2 {
    margin: 60px 0 20px 0;
  }
}

#features {
  article {
    img {
      width: 100%;
    }
  }
}

#new-releases article {
  margin: 0 40px;
  h3, h4 {
    margin-left: -40px;
    margin-right: -40px;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 18px;
  }
}

/*
 * Book page
 */

.book-page {
  padding-bottom: 30px;
  h1 {
    margin-bottom: 2px;
  }
  h2 {
    margin: 0 0 17px 0;
  }
  .book-info {
    background: #ededef;
    .book-info-cover {
      margin: 40px;
      img {
        @include box-shadow(3px 4px 5px rgba(0,0,0,0.3));
      }
    }
    .book-info-data {
      margin: 20px;
      dt {
        text-transform: none;
      }
      dd {
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
  }
}

.book-supplementary-info {
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #dadadc;
  h3 {
    margin-top: 0;
    font-size: 1em;
  }
  dl {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 15px;
  }
  dt {
    margin-left: -15px;
    display: inline;
    &:after {
      content: ": ";
    }
  }
  dd {
    display: inline;
    margin-left: 0;
    &:after {
      content: "\a";
      white-space: pre-wrap;
    }
  }
}

.pagseguro {
  margin: 0;
}

.pagination {
  text-align: center;
}

/*
 * Contact
 */

#contact-area {
  position: relative;
  padding-bottom: 70px;
  @include box-shadow(0 7px 10px rgba(0, 0, 0, 0.07));
}

#contact-form {
  padding: 20px 0;
  background: #ededef;
  form {
    margin: 0 20px;
    textarea, input[type="text"], input[type="email"] {
      width: 100%;
    }
    textarea {
      height: 105px;
    }
  }
  .controls {
    margin-right: 20px;
  }
}

#distributors-area {
  padding: 70px 0;
  dl {
    font-family: $font-stack-title;
    font-size: 0.725em;
    font-weight: normal;
    dt {
      display: inline;
      color: $text-blue;
    }
    dd {
      display: inline;
      margin-left: 0;
      &:after {
        content: "\a";
        white-space: pre-wrap;
      }
    }
  }
}

/*
 * Category page
 */

#category-list {
  margin-top: 30px;
  padding-bottom: 70px;
}

/*
*  Search
*/

#search-info h1 {
  margin: 0;
  text-transform: none;
  font-size: 0.9em;
  line-height: 1;
  letter-spacing: normal;
  .search-count {
    font-size: 2em;
    font-weight: normal;
    color: $text-blue;
  }
  .search-term {
    font-family: $font-stack-body;
    font-weight: normal;
    font-size: 2.32em;
    color: $text-blue;
    &:before {
      content: "\a";
      white-space: pre-wrap;
    }
  }
}

#search-results {
  margin-top: 30px;
  padding-bottom: 70px;
}

 /*
  * Tag page
  */

  #tag {
    #extra {
      overflow: auto;
      padding: 30px;
      margin-bottom: 40px;
      #image {
        float: left;
        img {
          width: 200px;
          height: 200px;
          padding: 10px;
        }
      }
      p {
          margin-top: 20px;
        }
    }
  }

/* ==========================================================================
   H5BP helpers
   ========================================================================== */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background: $selection;
  text-shadow: none;
}

::selection {
  background: $selection;
  text-shadow: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* ==========================================================================
   Sticky footer
   ========================================================================== */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -190px;
}

#push, footer {
  height: 190px;
  overflow: hidden;
}

/* ==========================================================================
   Responsive media queries
   ========================================================================== */

@media (max-width: 767px) {
  #wrap, footer {
    border-left: none;
    border-right: none;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
