/* ==========================================================================
   Variables
   ========================================================================== */

/*
 * My variables
 */

$text-title:                      #515151;
$text-subtitle:                   #999;
$text-light:                      #666;
$text-blue:                       #519fc0;
$selection:                       #fffdc9;
$page-border:                     #6EA1B6;
$table-bg:                        #ededef;
$carousel-offset:                 80px;

/*
 * Overwriting Bootstrap variables
 */

$bodyBackground:                  #f7f7f9;
$textColor:                       #333;
$linkColor:                       #E7611D;
$linkColorHover:                  #3B9FC1;

$sansFontFamily:                  CallunaSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:                 CallunaRegular, TimesNewRoman, "Times New Roman", Times, serif;

$baseFontSize:                    22px;
$baseFontFamily:                  $sansFontFamily;
$baseLineHeight:                  $baseFontSize * 1.43;
$altFontFamily:                   $serifFontFamily;

$navbarHeight:                    64px;
$navbarBackgroundHighlight:       #f7f7f9;
$navbarBackground:                darken($navbarBackgroundHighlight, 4.5%);
$navbarBorder:                    darken($navbarBackground, 10%);

$navbarText:                      $text-light;
$navbarLinkColor:                 $text-light;
$navbarLinkColorHover:            $linkColorHover;
$navbarLinkColorActive:           $linkColorHover;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      transparent;

$btnBackground:                   #e7e7e7;
$btnBackgroundHighlight:          $btnBackground;

$btnPrimaryBackground:            #88b2c2;
$btnPrimaryBackgroundHighlight:   $btnPrimaryBackground;

@mixin book-title {
  font-family: $sansFontFamily;
  font-size: 2.32em;
  color: $text-title;
  text-transform: uppercase;
  letter-spacing: -2px;
}

/* ==========================================================================
   Importing Bootstrap & Bourbon
   ========================================================================== */

@import "bootstrap";
// @import "responsive";
@import "bourbon";


/* ==========================================================================
   Base styles
   ========================================================================== */

/*
 * Fonts
 */

@include font-face(CallunaSansRegular, '/assets/callunasans-regular', normal, normal);
@include font-face(CallunaRegular, '/assets/calluna-regular', normal, normal);
@include font-face(CallunaRegular, '/assets/calluna-bold', bold, normal);
@include font-face(CallunaRegular, '/assets/calluna-it', normal, italic);

/*
 * Base tags
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $page-border;
}

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1;
  color: $text-light;
  text-transform: uppercase;
}

h1 {
  font-family: $serifFontFamily;
  font-size: 2.1em;
  color: $text-blue;
  text-transform: none;
  letter-spacing: -1px;
}

.book-page h1 {
  @include book-title;
}

p {
  font-family: $serifFontFamily;
  line-height: 1.619;
  font-size: 0.91em;
}

dt {
  font-weight: normal;
}



.btn {
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  text-transform: uppercase;
  text-shadow: none;
  text-align: left;
  font-family: $sansFontFamily;
  font-size: $baseFontSize * 0.75;
  font-weight: normal;
  line-height: 1;
  color: #666;
  &:link, &:visited, &:hover, &:focus, &:active {
    color: #666 !important;
    text-decoration: none !important;
    border: none !important;
  }
}

.btn-primary {
  color: white;
  &:link, &:visited, &:hover, &:focus, &:active {
    color: white !important;
  }
}

.book-title {
  font-size: 1em;
}

#features .book-title {
  @include book-title;
}

.book-authors {
  font-size: 0.73em;
  color: $text-subtitle !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  color: $text-light;
  font-size: 14px;
  line-height: 1.4;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  text-transform: uppercase;
  color: $text-light;
  font-size: 14px;
  line-height: 1.4;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  text-transform: uppercase;
  color: $text-light;
  font-size: 14px;
  line-height: 1.4;
}

.alert {
  position: relative;
}

.alert-info {
  font-size: 18px;
  background-color: #e5edf1;
  border: none;
  color: #666;
}

.view-cart {
  position: absolute;
  top: 15px;
  right: 45px;
}


/* ==========================================================================
   General areas
   ========================================================================== */

#wrap {
  margin: 0 15px;
  overflow: hidden;
  background-color: $bodyBackground;
}

header {
  padding-top: 30px;
  .navbar {
    .nav > li > a {
      text-transform: uppercase;
      font-size: 0.82em;
    }
    .nav .dropdown b.caret {
      margin: 14px 0 0 5px;
    }
  }
  .navbar-inner {
    padding-left: 11px;
    padding-right: 11px;
    border-top: none;
    border-right: 1px solid lighten($navbarBorder, 12%);
    border-bottom: 1px solid $navbarBorder;
    border-left: 1px solid lighten($navbarBorder, 12%);
    @include box-shadow(0 1px 1px rgba(0,0,0,.065));
  }
  .logo, .logo a {
    display: block;
    margin: 0;
    width: 153px;
    height: 51px;
    background: url(asset_path('hedra-logo.png', image)) no-repeat;
    @include background-size(100% 100%);
    @include hide-text;
  }
}

#main {
  position: relative;
  a:link, a:active, a:visited {
    color: $linkColor;
    text-decoration: none;
  }
  a:hover {
    color: $linkColorHover;
    text-decoration: none;
  }
  p a:hover {
    border-bottom: 1px solid #ccc;
  }
}

.book-list-item {
  display: table;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e3e3e5;
  .item-cover {
    display: table-cell;
  }
  .item-info {
    display: table-cell;
    vertical-align: middle;
    h3 {
      margin: 0 0 9px 0;
    }
    h4 {
      margin: 0 0 13px 0;
    }
  }
  &:last-child {
    border-bottom: none;
  }
}

footer {
  position: relative;
  z-index: 0;
  margin: 0 15px;
  font-size: 0.82em;
  line-height: 1;
  background: #ededef;
  address {
    padding-top: 25px;
    border-top: 1px solid #dadadc;
    line-height: 20px;
    font-family: $altFontFamily;
  }

  .company-copyright {
    margin-bottom: 25px;
  }
}


/* ==========================================================================
   Components
   ========================================================================== */

#main-nav {
  .dropdown-menu {
    top: 50px;
    padding: 10px 0;
    background: white;
    border-top: 3px solid #6d9fb6;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-radius: 3px;
    li {
      float: left;
      & > a {
        display: block;
        margin: 0;
        padding: 7.5px 20px;
        width: 190px;
        color: $linkColorHover !important;
        text-transform: uppercase;
        font-size: 0.67em;
        line-height: 1;
        &:hover {
          background: transparent;
          text-decoration: underline;
        }
      }
    }
    &:after {
      border: none;
    }
    &:before {
      border: none;
    }
  }
}

.navadd {
  position: relative;
  top: 3px;
  padding-right: 9px;
  float: right;
  .navbar-search {
    display: inline-block;
    float: none;
    margin-top: 0;
    input {
      border-radius: 6px;
      background-image: url(asset_path('search-icon.png', image));
      background-repeat: no-repeat;
      background-position: 3% 50%;
      height: 24px;
      padding-left: 34px;
      width: 191px;
    }
  }
  .cart {
    position: relative;
    display: inline-block;
    .cart-count {
      color: $text-blue;
    }
    & > a > img,
    & > img {
      margin-left: 15px;
    }
    .dropdown-menu {
      left: auto;
      right: 0;
      width: 310px;
      border-color: #6D9FB6;
      border-radius: 3px;
      border-style: solid none none;
      border-width: 3px medium medium;
      padding: 20px;
      ul {
        margin: 0;
        list-style: none;
      }
      li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 0.7em;
        text-transform: uppercase;
        line-height: 0.9;
        white-space: pre-wrap;
        border-bottom: 1px solid #e0e0e0;
        &:last-child {
          border-bottom: none;
        }
        div {
          display: inline-block;
        }
        .cart-book-data {
          width: 170px;
        }
        .cart-book-price {
          margin-left: 10px;
          text-align: right;
          width: 78px;
          color: $text-blue;
        }
      }
      .btn {
        margin: 0;
        width: 100%;
        @include box-sizing(border-box);
        text-align: center;
      }
    }
  }
}

.social-links {
  position: absolute;
  top: -40px;
  left: 0px;
  height: 20px;
  width: 240px;
  color: $text-light;
  p {
    float: left;
    margin: 0 11px 0 0;
    text-shadow: none;
    text-transform: uppercase;
    font-family: $sansFontFamily;
    font-size: 14px;
    line-height: 25px;
  }
  ul {
    display: inline;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      height: 20px;
      margin: 0 11px 0 0;
      padding-right: 11px;
      border-right: 1px solid #cecece;
      a {
        display: block;
        float: left;
        @include hide-text;
      }
      &.facebook a {
        width: 10px;
        height: 20px;
        background: transparent url(asset_path('facebook-icon.png', image)) center center no-repeat;
      }
      &.twitter a {
        width: 24px;
        height: 20px;
        background: transparent url(asset_path('twitter-icon.png', image)) center center no-repeat;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

.heading {
  margin: 20px 0;
  font-size: 0.82em;
  color: $text-blue;
}

.book-info {
  font-weight: normal;
  font-size: 0.82em;
  line-height: 1;
  text-transform: uppercase;
  color: $text-light;
  text-shadow: none;
  background: #ededef;
  border-radius: 5px;
  .book-info-cover {
    margin: 40px;
  }
  .book-info-data {
    margin: 20px;
    dt {
      text-transform: none;
      line-height: 1;
    }
    dd {
      margin-left: 0;
      margin-bottom: 15px;
      line-height: 1;
    }
  }
}

.buy {
  & {
    margin: 0;
    li {
      list-style: none;
      margin: 10px 0;
    }
  }
  .btn {
    padding: 0;
    width: 200px;
    span {
      display: inline-block;
      padding: 15px 10px;
      &.price {
        float: right;
        text-align: right;
        white-space: nowrap;
        background: #39a0c1;
      }
    }
  }
}

.list-price {
  padding: 20px;
  background: #ededef;
  border-radius: 5px;
  h4 {
    margin: 0 0 15px 0;
    font-size: 0.82em;
  }
  .btn {
    width: 100%;
  }
}

article .list-price {
  padding: 10px 25px;
  .btn {
    background: transparent !important;
    @include box-shadow(none);
    color: $textColor !important;
    span {
      padding: 0;
      background: transparent !important;
    }
  }
}

#secondary-nav {
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  color: $text-light;
  text-shadow: white 1px 1px 0;
  .nav {
    margin-bottom: 0;
    li {
      font-size: 0.82em;
      text-shadow: white 1px 1px 0;
      a {
        margin: 0;
        padding: 30px 10px 18px 5px;
        line-height: 1;
        &:link, &:active, &:visited {
          color: $text-light;
        }
        &:hover {
          background: none;
          color: $linkColorHover;
        }
      }
      &:first-child a {
        padding-left: 0;
      }
      a:after {
        content: "·";
        margin-left: 15px;
      }
      &:last-child a:after {
        content: "";
        margin-left: 0;
      }
      &.active a {
        background: none;
        color: $linkColorHover;
      }
    }
  }
}

.cover {
  position: relative;
  img {
    width: 100%;
    @include box-shadow(2px 3px 8px rgba(0, 0, 0, 0.4));
  }
  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background: url(asset_path('cover-gloss.png', image)) no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
  }
}

.book-info .cover {
  &:before {
    content: none;
    background: none;
  }
}

.modal {
  position: fixed;
  top: 10px;
  bottom: 10px;
  left: 50%;
  width: 570px;
  margin: 0 0 0 -285px;
  .modal-header {
    h5 {
      margin: 0;
      line-height: 35px;
    }
  }
  .modal-body {
    height: 88%;
    max-height: none;
    overflow-y: visible;
    text-align: center;
    img {
      height: 100%;
    }
  }
  &.fade.in {
    top: 10px;
  }
}

/*
 * Shopping cart
 */

.cart-book-title,
.cart-book-authors {
  font-family: $sansFontFamily;
  line-height: 0.9;
  text-transform: uppercase;
}

.cart-book-title {
  color: $textColor;
  margin-bottom: 5px;
}

.cart-book-authors {
  font-size: 0.9em;
  color: $text-subtitle;
  margin-bottom: 0;
}

.cart-book-cover {
  display: inline-block;
  width: 40px;
}

.cart-book-data {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}


/*
 * Related books
 */

.related {
  position: relative;
  @include box-shadow(0 7px 10px rgba(0, 0, 0, 0.07));
  padding-top: 40px;
  padding-bottom: 70px;
  z-index: 2;
  background: #f4f4f6;
  h2 {
    margin: 10px 0 40px 0;
  }
  article {
    margin: 0 40px;
    text-align: center;
    h3 {
      margin: 20px -40px 9px;
    }
    h4 {
      margin: 0 -40px;
    }
  }
}


/* ==========================================================================
   Pages
   ========================================================================== */

/*
 * Home
 */

#features, #recommendations {
  position: relative;
  @include box-shadow(0 7px 10px rgba(0, 0, 0, 0.07));
}

#carousel-container {
  width: ($gridColumnWidth * $gridColumns) + ($gridGutterWidth * ($gridColumns - 1)) + $carousel-offset;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  a.prev, a.next {
    background: url(asset_path('carousel-arrow.png', image)) no-repeat;
    width: 40px;
    height: 55px;
    display: block;
    position: absolute;
    top: 135px;
    z-index: 10;
    outline: 0;
    @include hide-text;
    @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
  }
  a.prev {
    left: 5px;
    background-position: 0 0;
  }
  a.next {
    right: 85px;
    background-position: -40px 0;
  }
  .pagination {
    margin: 10px 0 0 0;
    text-align: center;
  }
  .pagination a {
    background: url(asset_path('carousel-pagination.png', image)) -12px 0 no-repeat;
    width: 12px;
    height: 12px;
    margin: 0 18px 0 0;
    display: inline-block;
    outline: 0;
    @include hide-text;
  }
  .pagination a.selected {
    background-position: 0 0;
    cursor: default;
  }
  .gradient {
    display: block;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    @include linear-gradient(left, rgba($bodyBackground, 0) 0%, rgba($bodyBackground, .7) 50%,rgba($bodyBackground, 1) 100%);
  }
}

#features {
  padding-bottom: 70px;
  z-index: 3;
  background: transparent;
  .feature-item {
    display: inline-block;
    margin-right: 40px;
    white-space: normal;
    vertical-align: top;
    .feature-cover {
      float: left;
      width: 240px;
      min-height: 1px;
    }
    .feature-data {
      float: left;
      margin-left: 40px;
      width: 510px;
      min-height: 1px;
    }
  }
  .title {
    margin: 20px 0 6px 0;
    font-size: 2.22em;
    color: $text-title;
    letter-spacing: -2px;
  }
  .authors {
    margin: 0 0 16px;
  }
  .feature-image-container {
    text-align: center;
    .feature-image {
      width: 993px;
      height: 358px;
    }
  }
}

#recommendations {
  padding-top: 40px;
  padding-bottom: 0;
  z-index: 1;
  background: #f7f7f9;
}

/*
 * Book page
 */

.tag {
  padding-bottom: 30px;
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 0.73em;
    color: $text-subtitle !important;
  }
}

#book-supplementary-info {
  position: relative;
  @include box-shadow(0 7px 10px rgba(0, 0, 0, 0.07));
  z-index: 3;
  font-size: 0.82em;
  .row {
    padding: 30px 0;
    border-top: 1px solid #dadadc;
  }
  h3 {
    margin-top: 0;
    font-size: 1em;
  }
  dl {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 15px;
    font-family: $altFontFamily;
    color: black;
  }
  dt {
    margin-left: -15px;
    display: inline;
    &:after {
      content: ": ";
    }
  }
  dd {
    display: inline;
    margin-left: 0;
    &:after {
      content: "\a";
      white-space: pre-wrap;
    }
  }
}

.pagseguro {
  margin: 0;
}

.pagination {
  text-align: center;
}

.taglist {
  margin: 0;
  list-style: none;
  li {
    display: inline;
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
  }
}

#share {
  ol {
    margin: 0;
    list-style: none;
    li {
      margin: 10px 0;
    }
  }
}

/*
 * Contact
 */

#contact-area {
  position: relative;
  padding-bottom: 70px;
  @include box-shadow(0 7px 10px rgba(0, 0, 0, 0.07));
}

#contact-form {
  padding: 20px 0;
  background: #ededef;
  form {
    margin: 0 20px;
    textarea, input[type="text"], input[type="email"] {
      width: 100%;
    }
    textarea {
      height: 105px;
    }
  }
  .controls {
    margin-right: 20px;
  }
}

#distributors-area {
  padding: 70px 0;
  dl {
    font-size: 0.725em;
    font-weight: normal;
    dt {
      display: inline;
      color: $text-blue;
    }
    dd {
      display: inline;
      margin-left: 0;
      &:after {
        content: "\a";
        white-space: pre-wrap;
      }
    }
  }
}

/*
 * Category page
 */

#category-list {
  margin-top: 30px;
  padding-bottom: 70px;
}

/*
*  Search results
*/

#search-info h1 {
  margin: 0;
  text-transform: none;
  font-size: 0.9em;
  line-height: 1;
  letter-spacing: normal;
  .search-count {
    font-size: 2em;
    font-weight: normal;
    color: $text-blue;
  }
  .search-term {
    font-family: $serifFontFamily;
    font-weight: normal;
    font-size: 2.32em;
    color: $text-blue;
    &:before {
      content: "\a";
      white-space: pre-wrap;
    }
  }
}

#search-results {
  margin-top: 30px;
  padding-bottom: 70px;
}

 /*
  * Tag page
  */

#tag {
  padding-bottom: 70px;
}

#tag-list {
  margin-top: 30px;
}

#hero {
  background-image: url(asset_path('noisy-pattern.png', image));
  padding: 50px 0;
  @include box-shadow(inset 0 7px 15px rgba(0, 0, 0, 0.2));
  .hero-image {
    max-height: 400px;
    overflow: hidden;
    img {
      vertical-align: middle;
    }
  }
}

.tag-image {
  position: relative;
  height: 300px;
  border-radius: 150px;
  overflow: hidden;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 150px;
    @include box-shadow(inset 0 0 20px rgba(0, 0, 0, 0.4));
    content: "";
  }
  img {
    width: 100%;
    height: 100%;
  }
}

#extra {
  padding-top: 50px;
  padding-bottom: 50px;
  @include box-shadow(0 7px 10px rgba(0, 0, 0, 0.07));
}

/*
 * Cart page
 */

.cart-page-table {
  font-size: 0.73em;
  line-height: 1;
  border-spacing: 1px;
  border-collapse: separate;
  .cart-book-cover {
    width: 60px;
    margin: 20px 5px 20px 20px;
  }
  .cart-book-title,
  .cart-book-authors {
    line-height: 1;
  }
  thead {
    td {
      text-transform: uppercase;
    }
  }
  tbody {
    border-radius: 3px;
    td {
        background: #ededef;
        @include box-shadow(1px 1px 0 white);
        vertical-align: middle;
    }
  }
}

.cart-page-book-quantity {
  text-align: center !important;
  input {
    width: 40px;
    padding: 5px;
    margin: auto;
    background: white;
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
    color: $textColor;
  }
}

.cart-page-book-weight,
.cart-page-book-price {
  font-family: $sansFontFamily;
  color: $text-blue;
  text-align: center !important;
}

.cart-page-remove-item {
  a {
    display: block;
    margin: 0 auto;
    width: 25px;
    height: 25px;
    line-height: 1;
    background: url(asset_path('remove-icon.png', image));
    @include hide-text();
  }
}

#cart-form-total {
  background: white;
  text-align: right;
  text-transform: uppercase;
  span {
    font-size: 1.35em;
  }
}

#cart-form-buttons {
  text-align: right;
  button {
    margin-left: 15px;
  }
}

.cart-form-button-update {
  float: left;
}

/*
 * About
 */

#about {
  @include column-count(2);
  @include column-gap(2em);
}

/*
 * Blog
 */

#blog-header {
  height: 103px;
  padding-top: 15px;
  border-bottom: 1px solid #dadadc;
  font-family: $serifFontFamily;
  color: #999;
  text-align: center;
  p {
    vertical-align: middle;
    margin: 0;
    text-shadow: 0 1px 0 white;
    font-size: 1em;
    line-height: 1.3;
    b {
      color: $text-blue;
      font-weight: normal;
    }
  }
  div {
    display: inline-block;
    vertical-align: middle;
  }
}

.blog-post {
  margin: 30px 0;
  padding-bottom: 50px;
  @include box-shadow(0 7px 10px rgba(0, 0, 0, 0.07));
}

.post-date {
  margin: 0;
  font-family: $sansFontFamily;
  text-align: center;
  color: $text-blue;
  font-size: 0.8em;
  line-height: 1;
}

.post-title {
  margin: 5px 0 30px 0;
  font-family: $serifFontFamily;
  text-align: center;
  color: $linkColorHover;
  font-size: 2.55em;
  line-height: 1;
  text-transform: none;
}


/* ==========================================================================
   H5BP helpers
   ========================================================================== */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background: $selection;
  text-shadow: none;
}

::selection {
  background: $selection;
  text-shadow: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Sticky footer
   ========================================================================== */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -190px;
}

#push, footer {
  height: 190px;
  overflow: hidden;
}

/* ==========================================================================
   Responsive media queries
   ========================================================================== */


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
      background: transparent !important;
      color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow:none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
      content: "";
  }

  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  thead {
      display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  @page {
      margin: 0.5cm;
  }

  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }

  h2,
  h3 {
      page-break-after: avoid;
  }
}

.field_in_same_line {
  float: left;
  width: 100%;
  .control-group {
    float: left;
    width: 50%;
  }
}

.checkout_step {
  width: 100%;
  float: left;
  margin-top: 20px;
}

.user_info a {
  font-size: 16px;
  text-transform: lowercase;
}

.third_step div {
  &.message {
    width: 740px;
    float: left;
  }
  &.paypal_button {
    width: 200px;
    float: right;
    padding-top: 20px;
  }
}

a.paypal_button {
  background: url('https://www.paypalobjects.com/webstatic/mktg/br/botoes_paypal_nf_v01.png') no-repeat;
  width: 186px;
  height: 40px;
  text-align: center;
  padding-top: 25px;
  float: right;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-transform: uppercase;
  text-shadow: none;
  font-family: CallunaSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16.5px;
  font-weight: normal;
  line-height: 1;
  padding-top: 35px;
  height: 60px;
  color: #fff !important;
  font-weight: bold;
  background-color: #39a0c1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF88B2C2', endColorstr='#FF88B2C2', GradientType=0);
  border-color: #88b2c2 #88b2c2 #5691a8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.errors {
  color: #FF4040;
  font-weight: bold;
}

.sign_up_or_sign_in_wrapper {
  width: 100%;
  float: left;
  margin-top: 20px;
  form {
    width: 50%;
    margin: 0px;
    padding: 0px;
    float: left;
    &.sign_up {
      padding-left: 20px;
      border-left: 2px solid #fff;
    }
  }
}

#sign_up_or_sign_in h4 {
  font-size: 0.8em;
  color: #519fc0;
}

.new_address {
  display: none;
}

.address_selector {
  width: 70%;
  float: left;
  position: relative;
  select {
    width: 90%;
    padding: 0 0 0 5%;
  }
}

.add_address_btn {
  width: 30%;
  float: left;
  position: relative;
}

.address_wrapper {
  width: 100%;
  margin-top: 20px;
}

.identifier_field {
  width: 60%;
  float: left;
  position: relative;
}

.default_field {
  width: 40%;
  float: left;
  height: 99px;
  position: relative;
}

.address_field {
  width: 60%;
  float: left;
  position: relative;
}

.number_field {
  width: 15%;
  float: left;
  position: relative;
}

.complement_field {
  width: 25%;
  float: left;
  position: relative;
}

.district_field, .city_field, .state_field {
  width: 33%;
  float: left;
  position: relative;
}

.zip_code_field {
  width: 25%;
  float: left;
}

.zip_code_btn {
  width: 75%;
  float: left;
  height: 99px;
  padding-top: 30px;
}

#address_identifier, #address_address {
  width: 95%;
}

#address_number, #address_complement {
  width: 75%;
}

#address_state {
  padding: 0 0 0 5%;
  width: 30%;
}

.address_default label {
  padding-top: 35px;
  float: left;
  width: 50%;
  &.checkbox {
    padding: 40px 0 0 40px;
  }
}

.new_address input.error, select.error {
  border: 1px solid red !important;
  color: red !important;
}