<p>Ol&aacute; <%= @resource.email %>!</p>

<p>Algu&eacute;m requisitou a altera&ccedil;&atilde;o da sua senha no site da editora Hedra. Para prosseguir com a altera&ccedil;;&atilde;o da senha, utilize o link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se voc&ecirc; n&atilde;o solicitou a altera&ccedil;;&atilde;o de senha, por favor ignore este e-mail.</p>
<p>Sua senha n&atilde;o ser&aacute; alterada at&eacute; que voc&ecirc; acesse o link presente neste email.</p>

<p>Editora Hedra</p>
