<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou a alteração da sua senha no site da editora Hedra. Para prosseguir com a alteração da senha, utilize o link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou a alteração de senha, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link presente neste email.</p>

<p>Editora Hedra</p>
