<% if current_page? root_path %>
  <h1 class="logo hide-text">Hedra</h1>
<% else %>
  <p class="logo hide-text"><%= link_to 'Hedra', root_path %></p>
<% end %>
<nav id="main-nav" role="navigation">
  <ul class="nav nav-pills">
    <li class="active"><a href="#">Catálogo</a></li>
    <li><%= link_to 'Sobre', about_path %></li>
  </ul>
</nav>
