<!-- Declaração do formulário -->
<form class="pagseguro" target="pagseguro" method="post" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">

  <!-- Campos obrigatórios -->
  <input type="hidden" name="receiverEmail" value="jorge@hedra.com.br">
  <input type="hidden" name="currency" value="BRL">

  <!-- Itens do pagamento (ao menos um item é obrigatório) -->
  <input type="hidden" name="itemId1" value="0001">
  <input type="hidden" name="itemDescription1" value="<%= book.title %>">
  <input type="hidden" name="itemAmount1" value="<%= "%.2f" % book.price_print %>">
  <input type="hidden" name="itemQuantity1" value="1">
  <input type="hidden" name="itemWeight1" value="<%= book.weight.*(1000).to_i %>">
  <input type="hidden" name="itemShippingCost1" value="0.00">

  <!-- Informações de frete (opcionais) -->
  <input type="hidden" name="shippingType" value="1">
  <input type="hidden" name="shippingAddressPostalCode" value="05416011">
  <input type="hidden" name="shippingAddressStreet" value="R. Fradique Coutinho">
  <input type="hidden" name="shippingAddressNumber" value="1139">
  <input type="hidden" name="shippingAddressComplement" value="Subsolo">
  <input type="hidden" name="shippingAddressDistrict" value="Vila Madalena">
  <input type="hidden" name="shippingAddressCity" value="Sao Paulo">
  <input type="hidden" name="shippingAddressState" value="SP">
  <input type="hidden" name="shippingAddressCountry" value="BRA">

  <input type="hidden" name="encoding" value="UTF-8">

  <!-- submit do form (obrigatório) -->
  <button type="submit" name="button1">
    <span class="type">Livro</span><span class="price"><%= number_to_currency(book.price_print) %></span>
  </button>

</form>
